* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}


body {
  background: #faf7f4;
  color: #111;
}

 
.hero {
  min-height: 100vh;
  padding: 15px 0;
}

.header {
    padding: 26px 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
}
.header .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}

 
.hero-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hero-text h1 {
  font-size: 100px;
  font-weight: 600;
  line-height: 1.05;
}

 

.pill {
    background: #9b8df2;
    padding: 30px 0px;
    border-radius: 68px;
    width: 400px;
    overflow: hidden;
    display: inline-block;
}

.pill-track {
  display: flex;
  width: max-content;
  animation: scroll 13s linear infinite;
}


.pill-track span {
  color: #fff;
  font-size: 61px;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
}

/* animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


.spark {
  font-size: 48px;
}
.divider {
    margin: 90px 0 40px;
    border-top: 4px dashed #ccc;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom p {
  max-width: 420px;
  font-size: 16px;
  color: #333;
}

.bottom ul {
  list-style: none;
}

.bottom li {
  margin-bottom: 12px;
  font-size: 16px;
}

.menu {
    background-color: #111111;
    border-radius: 90px;
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
}

.menu span {
    background-color: #ffffff;
    height: 3px;
    width: 30px;
}

.hello-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 11px 45px;
  border: 2px solid #111;
  border-radius: 50px;
  text-decoration: none;
  color: #111;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.hello-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease;
}


.hello-btn:hover {
  background: #111;
  color: #fff;
}

.hello-btn:hover .icon {
  transform: translate(4px, -4px);
}























/*============================ RESPONSIVE =====================*/
@media(max-width:992px) {
  .container {
    padding: 0 24px;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .bottom {
    flex-direction: column;
    gap: 30px;
  }
}