body {
  background: #faf7f4;
  color: #000000;
  font-family: 'Poppins';
  font-size: 20px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}


img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
  line-height: 1em;
}

p {
  font-size: 0.9em;
  line-height: 1.5;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 15px;
}


h1 {
  font-size: 3em;
}


h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: 500;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  font-weight: 500;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

h6 {
  color: #919497;
  font-weight: 500;
}


.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3%;
}

.button-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.button i {
  margin-left: 8px;
}

.button {
    z-index: 5;
    border: 1px solid #000000;
    text-align: center;
    border-radius: 60px;
    min-width: 150px;
    padding: 15px 22px;
    font-size: 0.9em;
    transition: all 1s;
    position: relative;
    overflow: hidden;
    font-weight: 600;
    display: inline-block;
}

.button:hover {
  color: #ffffff;
}

.button::after {
  content: "";
  background-color: #000000;
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 1s;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  pointer-events: none;
}

.button:hover::after {
  width: 100%;
}


.button.whitebt::after {
  content: "";
  background-color: #ffffff;
}

.button.whitebt {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button.whitebt:hover {
  color: #000000;
}

/*============ header =============*/
header.header.bg {
  background-color: #faf7f4;
}

.header {
  padding: 10px 0;
  transition: 1s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.header.activeshow .menubg {
  top: 0%;
  transition: top 0.9s ease 0s;
}

.menubg {
  background-color: #000;
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 9; 
  transition: top 1s ease 1.2s;
}

.menu-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: left;
  width: 100%;
  padding-top: 30px;
}

.menu-list-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0%;
  transition: all 1s ease 0.5s;
}

.menu-list-ul a {
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
}

.header .relativee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 140px;
}

.header .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}


.menu {
  background-color: #000000;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 7px;
  transition: 1s;
  z-index: 10;
}

.menu span {
  background-color: #ffffff;
  z-index: 2;
  border-radius: .3rem;
  flex: none;
  width: 50%;
  height: .2rem;
  position: relative;
  transition: 1s;
}

.header.activeshow .menu {
  background-color: #ffffff;
}

.header.activeshow .menu span {
  background-color: #000000;
}

.header.activeshow .menu span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.header.activeshow .menu span:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

.tobader {
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 1px;
  top: 0;
  transition: all 1s ease 0.5s;
}

.medader {
  transition: all 1s ease 0.5s;
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 0%;
  left: 50%;
}

.header.activeshow .medader {
  height: 100%;
}

.header.activeshow .tobader {
  width: 100%;
}

/*========Parallax scrolling ===========*/


.parallax-box {
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    background-color: #72a8d7;
    height: 530px;
}

.parallax-img {
    width: 100%;
    height: 121%;
    display: block;
    transform: translateY(0);
    transition: transform 0.1s linear;
    position: absolute;
    top: -40px;
    height: 120%;
    object-fit: cover;
}


/*========Parallax scrolling ===========*/
.contact-form h3 {
  color: #ffffff;
}

.contact-form {
  width: 85%;
  display: grid;
  gap: 17px;
  margin: 0 auto;
  opacity: 0%;
  transition: all 1s ease 0.5s;
}

header.header.activeshow .contact-form,
header.header.activeshow .menu-list-ul {
  opacity: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  height: 60px;
  border-bottom: 1px solid #ffffff;
  background-color: #00000000;
  color: #000000;
  outline: none;
  font-size: 1em;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact-form button {
  padding: 15px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  margin-top: 10px;
}

::placeholder {
  color: #ffffff;
}


/*============ header END=============*/
.mxd-project-item-tags {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 35px;
  left: 40px;
}
 

.mxd-project-item-tags a {
  background-color: #fff;
  padding: 10px 17px;
  border-radius: 30px;
  font-size: 0.7em;
}

.hero {
  padding: 15px 0;
  padding-top: 95px;
}

.hero-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hero-text h1 {
  font-size: 5em;
  line-height: 1.2em;
}

.pill {
  background: #9b8df2;
  padding: 24px 0px;
  border-radius: 100px;
  width: 400px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 27px;
}

.pill-track {
  display: flex;
  width: max-content;
  animation: scroll 13s linear infinite;
}

.pill-track span {
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
  line-height: 1em;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.spark {
  font-size: 2.6em;
}

.divider {
  margin: 90px 0 40px;
  border-top: 4px dashed #ccc;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom p {
  max-width: 420px;
}

.bottom ul {
  list-style: none;
}

.bottom li {
  margin-bottom: 12px;
  font-size: 0.8em;
}


.who-we-are {
  padding: 120px 0;
  background: #faf7f4;
}

.who-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px;
  align-items: start;
}


.stats-grid {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.exp-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.exp-card {
  background: #fff;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  padding: 60px;
  min-height: 466px;
}

.exp-card.big {
  display: flex;
  align-items: center;
  width: 100%;
}

.exp-card.small {
  padding: 60px 50px;
  width: 70%;
}

.exp-text h3 {
  font-size: 5em;
  margin-bottom: 20px;
}

.exp-text p {
  margin-bottom: 40px;
}

.robot-arm {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 450px;
}

.helmet {
  position: absolute;
  right: -40px;
  bottom: -40px;
  width: 370px;
}


.card {
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.card.purple {
  background: #a895f4;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 400px;
}

.star-img {
  width: 330px;
  position: absolute;
  left: -8px;
  bottom: 0;
}

.card-content h3 {
  font-size: 5em;
  color: #ffffff;
}

.card-content p {
  margin: 0px 0 65px;
  color: #ffffff;
}


.card.white {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.phones img {
  width: 390px;
  padding: 0;
  position: absolute;
  left: 0;
  top: 15px;
}

.right-info {
  text-align: right;
}

.right-info h3 {
  font-size: 5em;
  margin-top: 60px;
  font-weight: 500;
}


.avatars {
  display: flex;
  justify-content: flex-end;
  gap: -10px;
}

.avatars img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.spark {
  font-size: 1.1em;
}

/********************logo-marquee*******************/
.logo-marquee {
  background: #faf7f4;
  padding: 80px 0;
  overflow: hidden;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.marquee-track h2 {
    margin-bottom: 0;
    color: #9f8be7;
    text-transform: capitalize;
}

.marquee-track i {
  font-size: 2em;
  color: #b9b4b0;
  font-style: normal;
}

/* ANIMATION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/***********************logo-marquee end***************/

/****************featured start*****************/



.featured-section {
  background: #faf7f4;
  padding: 30px 0;
}

/* MAIN LAYOUT */
.featured-container {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

/* LEFT FIXED */
.featured-left {
  flex: 1;
  position: sticky;
  top: 120px;
}



/* RIGHT SCROLL */
.featured-right {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.featured-left p {
  margin-bottom: 30px;
}


 

/****************featured end****************/

/******************testmonials***************/
.main-user {
  display: flex;
  gap: 25px;
}

.rating span {
  font-size: 27px;
  padding-right: 12px;
  color: #caca0d;
  font-weight: bold;
}

.testimonial-section {
  background: #faf7f4;
  padding: 120px 0;
}

.rating {
  display: flex;
  padding-bottom: 10px;
}

.testimonial-wrap {
  display: flex;
  gap: 40px;
  width: 100%;
}

.testimonial-left {
  width: 30%;
}




.clutch img {
  width: 160px;
  margin: 40px 0px;
}

.nav button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.testimonial-right {
  overflow: hidden;
  width: 70%;
}

.slider {
  display: flex;
  gap: 30px;
  transition: .4s ease;
  margin-bottom: 25px;
  padding: 8px 8px;
}

.senials-client {
    min-width: 430px;
    background: #fff;
    padding: 25px;
    border-radius: 24px;
    transition: .4s;
    box-shadow: 0px 1px 5px 0px #0000003b;
}

.senials-client .active {
  opacity: 1;
  filter: none;
}

.senials-client img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.senials-client h4 {
  margin: 20px 0 4px;
}

/******************testmonials***************/
section.stack-wrapper {
    padding: 50px 0;
}
.stack-card {
  position: sticky;
  top: 170px;
  height: 500px;
  background: #000000;
  border-radius: 50px;
  padding: 40px;
  background-image: url(../images/card-bg.webp);
  background-size: 43% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.stack-card-row {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.card-1 {
  z-index: 1;
}

.card-2 {
  z-index: 2;
  background-color: #9f8be7;
}

.card-3 {
  z-index: 3;
  background-color: #ffffff;
}

.card-4 {
  z-index: 4;
}

.card-1 h2,
.card-1 p,
.card-2 h2,
.card-2 p,
.card-4 h2,
.card-4 p {
  color: #ffffff;
}

.card-3 h2,
.card-3 p {
  color: #000000;
}

.stack-card .card-content {
  width: 50%;
}


/******************footer**************/

footer.footer {
  padding-bottom: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.footer-box {
  background: #fff;
  border-radius: 28px;
  padding: 48px;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 5px 0px #0000003b;
}

ul.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.footer-menu li {
  list-style: none;
}

.footer-menu a {
  font-size: 2.5em;
  font-weight: 500;
}

.bottom-links {
  position: absolute;
  bottom: 40px;
  left: 48px;
  right: 48px;
  display: flex;
  justify-content: space-between;
  font-size: 0.6em;
  color: #555;
}

.subscribe {
  padding: 32px;
  border-radius: 25px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 0px #0000003b;
}

.subscribe h3 {
  font-size: 1.5em;
  margin-bottom: 60px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  padding-bottom: 12px;
}

input input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2em;
  width: 100%;
  font-family: Poppins, sans-serif;
}

.input input::placeholder {
  color: #777;
}

.arrow {
  border: none;
  background: transparent;
  font-size: 0.9em;
  cursor: pointer;
  padding-left: 10px;
}


.social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social li {
  font-size: 0.9em;
  margin-bottom: 14px;
}

.copy {
  position: absolute;
  bottom: 40px;
  left: 48px;
  font-size: 0.8em;
  color: #777;
}


.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  z-index: 999;
}


.footer-box.mal-middle {
  display: flex;
  flex-direction: column;
  background: #ffffff00;
  gap: 30px;
  padding: 0;
  box-shadow: none;
}

.footer-box.mal-middle a {
    background-color: #ffffff;
    padding: 50px 30px;
    border-radius: 25px;
    box-shadow: 0px 1px 5px 0px #0000003b;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.9em;
}
.footer-box i.fa-solid.fa-envelope {
    font-size: 30px;
}
.footer-box i.fa-solid.fa-phone{
  font-size: 30px;
}

.subscribe input {
  font-size: 1em;
  outline: none;
  border: none;

}

/**************mobile media******************/

@media(max-width:1024px) {
  body {
    font-size: 17px;
  }

}

@media(max-width:991px) {
  body {
    font-size: 16px;
  }

  .stats-grid,
  .exp-grid {
    flex-wrap: wrap;
  }

  .card.purple,
  .exp-card.small {
    width: 100%;
  }

  .footer-grid {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-grid> :last-child {
    grid-column: 1 / -1;
  }

  .featured-container {
    gap: 10px;
  }

  .stack-card {
    height: 450px;
  }

}


@media(max-width:767px) {
  body {
    font-size: 14px;
  }

  .footer-box {
    padding: 24px;
  }

  .pill {
    padding: 10px 0px;
  }

  .who-right h2 {
    font-size: 2em;
  }

  .footer-grid {
    grid-template-columns: 100%;
  }

.footer-box.mal-middle { 
    gap: 15px; 
}
.footer-menu a {
    font-size: 2em; 
}

.stack-card .card-content {
    width: 100%;
}

}

@media(max-width:500px) {
  .hero-text h1 {
    font-size: 3em;
    line-height: 1.2em;
  }


}