body {
  background: #faf7f4;
  color: #000000;
  font-family: 'Poppins';
  font-size: 20px;
  overflow-x: hidden;

}

#belove-loader {
  position: fixed;
  inset: 0;
  background: #0b0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.loader-box {
  text-align: center;
}

.brand {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  animation: brandGlow 2.5s ease-in-out infinite;
}

@keyframes brandGlow {

  0%,
  100% {
    text-shadow: 0 0 5px #d7173e, 0 0 15px rgb(215 23 62 / 26%);
    opacity: 0.6;
  }

  50% {
    text-shadow: 0 0 15px #d7173e, 0 0 30px rgb(215 23 62 / 26%);
    opacity: 1;
  }
}

.loader-line {
  margin-top: 15px;
  width: 120px;
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.loader-line::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  background: linear-gradient(90deg, #d7173e, #a00424);
  animation: loading 1.4s infinite;
}

@keyframes loading {
  0% {
    left: -40%
  }

  100% {
    left: 100%
  }
}

h1.pagename {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 110px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.mt-3 {
  margin-top: 30px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
  line-height: 1em;
}

p {
  font-size: 0.8em;
  line-height: 1.5;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 700;
  line-height: 1.1em;
  margin-bottom: 15px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: 500;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

h6 {
  color: #050505;
  font-weight: 700;
  font-size: 0.8em;
}

a.logo {
  max-width: 190px;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3%;
}

.button-row {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.button-row.left {
  justify-content: left;
}

.button i {
  margin-left: 8px;
}

.button {
  z-index: 5;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 60px;
  min-width: 150px;
  padding: 15px 22px;
  font-size: 0.9em;
  transition: all 1s;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  display: inline-block;
  background-color: transparent;
}

.button:hover {
  color: #ffffff;
}

.button::after {
  content: "";
  background-color: #000000;
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 1s;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  pointer-events: none;
}

.button:hover::after {
  width: 100%;
}
.button.whitebt::after {
  content: "";
  background-color: #ffffff;
}
.button.whitebt {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.button.whitebt:hover {
  color: #000000;
}
/*============ header =============*/
header.header.bg {
  background-color: #faf7f4;
}

.header {
  padding: 10px 0;
  transition: 1s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.header.activeshow .menubg {
  top: 0%;
  transition: top 0.9s ease 0s;
}

.menubg {
  background-color: #000;
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 9;
  transition: top 1s ease 1.2s;
}

.menu-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: left;
  width: 100%;
  padding-top: 30px;
}

.menu-list-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0%;
  transition: all 1s ease 0.5s;
}

a.current {
  color: #9b8df2 !important;
}

.menu-list-ul a:hover {
  color: #9b8df2;
}

.menu-list-ul a {
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
}

.header .relativee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}


.menu {
  background-color: #000000;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 7px;
  transition: 1s;
  z-index: 10;
}

.menu span {
  background-color: #ffffff;
  z-index: 2;
  border-radius: .3rem;
  flex: none;
  width: 50%;
  height: .2rem;
  position: relative;
  transition: 1s;
}

.header.activeshow .menu {
  background-color: #ffffff;
}

.header.activeshow .menu span {
  background-color: #000000;
}

.header.activeshow .menu span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.header.activeshow .menu span:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

.tobader {
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 1px;
  top: 0;
  transition: all 1s ease 0.5s;
}

.medader {
  transition: all 1s ease 0.5s;
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 0%;
  left: 50%;
}

.header.activeshow .medader {
  height: 100%;
}

.header.activeshow .tobader {
  width: 100%;
}

/*========Parallax scrolling ===========*/


.parallax-box {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  height: 530px;
}

.parallax-img {
  width: 100%;
  height: 121%;
  display: block;
  transform: translateY(0);
  transition: transform 0.1s linear;
  position: absolute;
  top: -40px;
  height: 120%;
  object-fit: cover;
}


/*========Parallax scrolling ===========*/
.contact-form h3 {
  color: #ffffff;
}

.contact-form {
  width: 85%;
  display: grid;
  gap: 17px;
  margin: 0 auto;
  opacity: 0%;
  transition: all 1s ease 0.5s;
}

header.header.activeshow .contact-form,
header.header.activeshow .menu-list-ul {
  opacity: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  height: 60px;
  border-bottom: 1px solid #ffffff;
  background-color: #00000000;
  color: #000000;
  outline: none;
  font-size: 1em;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact-form button {
  padding: 15px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9em;
  margin-top: 10px;
}

::placeholder {
  color: #ffffff;
}

/*============ header END=============*/
.mxd-project-item-tags {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 35px;
  left: 40px;
}


.mxd-project-item-tags a {
  background-color: #fff;
  padding: 10px 17px;
  border-radius: 30px;
  font-size: 0.7em;
}

.herobanner {
  padding: 15px 0;
  padding-top: 95px;
  height: 90vh;
}

.herobanner-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.herobanner-text h1 {
  font-size: 5em;
  line-height: 1.2em;
}

.pill {
  background: #9b8df2;
  padding: 24px 0px;
  border-radius: 100px;
  width: 400px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 27px;
}

.pill-track {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.pill-track span {
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
  line-height: 1em;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.spark {
  font-size: 2.6em;
}

.freelancer-section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-top: 4px dashed #ccc;
  padding-top: 30px;
  margin-top: 50px;
}

.freelancer-section p {
  max-width: 420px;
}

.freelancer-section ul {
  list-style: none;
}

.freelancer-section li {
  margin-bottom: 12px;
  font-size: 0.8em;
      display: flex;
    align-items: center;
}
.freelancer-section li img {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}
.grid2.onecol .iconcol {
  border-radius: 12px;
  padding: 20px;
  align-items: flex-start;
  position: relative;
  padding-right: 65px;
}

.grid2.onecol p {
  color: #353535;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 13px;
}

.grid2.onecol .iconcol i {
  border: none;
  padding: 0;
  border-radius: 0;
  color: #1b1b1b;
}

.who-we-are {
  padding: 120px 0;
  background: #faf7f4;
}

.grid2.onecol {
  grid-template-columns: 1fr;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: start;
}

.grid2 .iconcol {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 0px #00000024;
  padding: 10px;
  display: flex;
  gap: 16px;
  border-top-right-radius: 30px;
  align-items: center;
  transition: 0.5s;
}

.grid2 .iconcol h5 {
  margin-bottom: 0;
}

.grid2 .iconcol i {
  font-size: 35px;
  color: #9f8be7;
  border: 3px dotted #9f8be7;
  padding: 8px;
  border-radius: 1000px;
}

.who-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px;
  align-items: start;
}


.grid2.onecol .iconcol:hover {
  background-color: #9f8be7;
}

.grid2.onecol .iconcol h5,
.grid2.onecol .iconcol p,
.grid2.onecol .iconcol i {
  transition: 0.5s;
}

.grid2.onecol .iconcol:hover h5,
.grid2.onecol .iconcol:hover p,
.grid2.onecol .iconcol:hover i {
  color: #ffffff;
}

.grid2.onecol .iconcol:hover::after {
  color: #d6d6d6;
}

.grid2.onecol {
  counter-reset: step;
  gap: 10px;
}

.grid2.onecol .iconcol::after {
  counter-increment: step;
  content: "0" counter(step);
  color: #8d8d8d75;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  right: 8px;
  top: 0;
}




.stats-grid {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.exp-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.exp-card {
  background: #fff;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  padding: 60px;
  min-height: 466px;
}

.exp-card.big {
  display: flex;
  align-items: center;
  width: 100%;
}

.exp-card.small {
  padding: 60px 50px;
  width: 70%;
}

.exp-text h3 {
  font-size: 5em;
  margin-bottom: 20px;
}

.exp-text p {
  margin-bottom: 40px;
}

.robot-arm {
  position: absolute;
  right: 29px;
  top: 37px;
  width: 390px;
  border-radius: 100px 0px 100px 0px;
}

.exp-card {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.card.white {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.purple {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.exp-grid {
  margin-bottom: 30px;
}

.helmet {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 370px;
}


.card {
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.card.purple {
  background: #a895f4;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 400px;
}

.star-img {
  width: 330px;
  position: absolute;
  left: -8px;
  bottom: 0;
}

.card-content h3 {
  font-size: 5em;
  color: #ffffff;
}

.card-content p {
  margin-bottom: 25px;
  color: #ffffff;
}

.card.white {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.phones img {
  width: 390px;
  padding: 0;
  position: absolute;
  left: 0;
  top: 15px;
}

.right-info {
  text-align: right;
}

.right-info h3 {
  font-size: 5em;
  margin-top: 60px;
  font-weight: 500;
}


.avatars {
  display: flex;
  justify-content: flex-end;
  gap: -10px;
}

.avatars img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.spark {
  font-size: 1.1em;
}

a.up-solid:hover i {
  margin-left: 1px;
  margin-top: -15px;
}

a.up-solid i {
  transition: 1s;
}

a.up-solid {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  transform: rotate(45deg);
  z-index: 9;
}

a.up-solid.black {
  background-color: #000000;
  color: #ffffff;
}

/********************logo-marquee*******************/
.logo-marquee {
  background: #faf7f4;
  padding: 80px 0;
  overflow: hidden;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.marquee-track h2 {
  margin-bottom: 0;
  color: #033f03;
  text-transform: capitalize;
}

.marquee-track i {
  font-size: 2em;
  color: #00000066;
  font-style: normal;
}

/* ANIMATION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/***********************logo-marquee end***************/

/****************featured start*****************/



.featured-section {
  background: #faf7f4;
  padding: 30px 0;
}

/* MAIN LAYOUT */
.featured-container {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

/* LEFT FIXED */
.featured-left {
  flex: 1;
  position: sticky;
  top: 120px;
}

.featured-right {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-page .featured-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.featured-left p {
  margin-bottom: 30px;
}


.who-right h2 {
  font-weight: 400;
  line-height: 1.4em;
  font-size: 2.2em;
}


section.services-section {
  padding: 40px;
  background-image: url(../images/laptop-wooden-table.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 60px;
  background-attachment: fixed;
}

section.services-section::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 71%);
  box-shadow: 0 4px 9.3px rgb(0 0 0 / .05);
  backdrop-filter: blur(8.25px);
}



section.services-section .container {
  z-index: 2;
  position: relative;
}

.services-grid {
  margin-top: 40px;
}

.content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services-col:hover a {
  letter-spacing: 1.5px;
}

.services-col a {
  color: #ffffff;
  margin-top: 30px;
  display: block;
  transition: 0.6s;
}

.services-col h4 {
  font-size: 1.2em;
  font-weight: 700;
}

.services-col {
  min-height: 440px;
  border-radius: 0px 50px 0px 0px;
  padding: 20px;
  border: solid 1px #d9d9d9c4;
  transition: 0.9s;
}

.services-col:hover {
  background-color: #d9d9d9c4;
}

.services-col i {
  font-weight: 900;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff5245;
  font-size: 32px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.services-section h2,
.services-section h4,
.services-section h6,
.services-section p {
  color: #ffffff;
  transition: 0.5s;
}

.services-col:hover h2,
.services-col:hover h4,
.services-col:hover h6,
.services-col:hover p,
.services-col:hover a {
  color: #171717;
}



/****************featured end****************/

/******************testmonials***************/
.main-user {
  display: flex;
  gap: 25px;
}

.rating span {
  font-size: 27px;
  padding-right: 12px;
  color: #caca0d;
  font-weight: bold;
}

.testimonial-section {
  background: #faf7f4;
  padding: 120px 0;
}

.rating {
  display: flex;
  padding-bottom: 10px;
}

a.client-video-review {
  background-color: #0d83fd;
  padding: 8px 15px;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 15px;
  display: inline-block;
  font-size: 15px;
}

.testimonial-wrap {
  display: flex;
  gap: 40px;
  width: 100%;
}

.testimonial-left {
  width: 30%;
}

.clutch img {
  width: 160px;
  margin: 40px 0px;
}

.slider.owl-carousel .owl-nav .owl-prev,
.slider.owl-carousel .owl-nav .owl-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.slider.owl-carousel .owl-nav button:hover {
  background-color: #0d83fd;
  border-color: #0d83fd;
}

.slider.owl-carousel .owl-nav button:hover i.fa-solid {
  color: #fff;
}

.slider.owl-carousel .owl-nav {
  margin-top: 40px;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}



.slider.owl-carousel .owl-stage-outer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.testimonial-right {
  overflow: hidden;
  width: 70%;
}

.slider {
  display: flex;
  gap: 30px;
  transition: .4s ease;
  margin-bottom: 25px;
  padding: 8px 8px;
}

.senials-client {
  background: #fff;
  padding: 25px;
  border-radius: 24px;
  transition: .4s;
  box-shadow: 0px 1px 5px 0px #0000003b;
}

.senials-client .active {
  opacity: 1;
  filter: none;
}

.senials-client img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.senials-client h4 {
  margin: 20px 0 4px;
}

.grid2.aboutbox div {
  width: 80%;
}

.grid2.aboutbox {
  margin-top: 65px;
  margin-bottom: 30px;
}

.grid2.aboutbox h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}

.teemcontent h3 {
  margin-top: 10px;
}

.section-about h6 {
  color: #b00a1f;
}

.grid2.aboutbox i {
  font-size: 50px;
  color: #b00a1f;
  margin-bottom: 20px;
}

.section-about img {
  border-radius: 8px 161px 8px 8px;
  box-shadow: 5px 0px 0px 5px #b00a1f;
}

section.logo-slider {
  margin-bottom: 60px;
}


.websitelogo-section img {
  max-width: 100%;
  max-height: 35px;
  max-height: 48px;
  margin: 0 auto;
  width: auto !important
}

img.filterblack {
  filter: invert(1);
}

/******************testmonials***************/
.card-imgg {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card-imgg img {
  position: absolute;
  inset: 0;
  height: 107%;
  width: 100%;
  object-fit: cover;
}

section.stack-wrapper {
  padding: 50px 0;
}

.stack-card {
  position: sticky;
  top: 170px;
  background: #000000;
  border-radius: 50px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  min-height: 550px;
  align-items: center;
}

.stack-card h2 {
  font-size: 2em;
  margin-bottom: 13px;
}

.stack-card-row {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.card-1 {
  z-index: 1;
}

.card-2 {
  z-index: 2;
  background-color: #9f8be7;
}

.card-3 {
  z-index: 3;
  background-color: #ffffff;
}

.card-3 .mxd-project-item-tags a {
  background-color: #000000;
  color: #ffffff;
}

.card-4 {
  z-index: 4;
}

.card-1 h2,
.card-1 p,
.card-2 h2,
.card-2 p,
.card-4 h2,
.card-4 p {
  color: #ffffff;
}

.card-3 h2,
.card-3 p {
  color: #000000;
}


.bg-right img {
  position: absolute;
  width: 280px;
  right: 0;
  top: 110px;
}

.bg-imgs img {
  width: 135px;
  position: absolute;
  left: 0;
  top: 170px;
  animation: floatY 3s ease-in-out infinite;
}

.bg-right img {
  animation: floatY 3s ease-in-out infinite;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes floatX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

/******************footer**************/

footer.footer {
  padding-bottom: 40px;
}

.footer-menu li:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;

}

.footer-menu a:hover {
  color: #9b8df2;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.footer-box {
  background: #fff;
  border-radius: 28px;
  padding: 30px;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 5px 0px #0000003b;
}

ul.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.footer-menu li {
  list-style: none;
  transition: all 0.3s ease;
}

.footer-menu a {
  font-size: 2.3em;
  font-weight: 700;
}

.bottom-links {
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 48px;
  display: flex;
  justify-content: space-between;
}

.subscribe {
  padding: 32px;
  border-radius: 25px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 0px #0000003b;
}

.subscribe h3 {
  font-size: 1.5em;
  margin-bottom: 60px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  padding-bottom: 12px;
}

input input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2em;
  width: 100%;
  font-family: Poppins, sans-serif;
}

.input input::placeholder {
  color: #777;
}

.arrow {
  border: none;
  background: transparent;
  font-size: 0.9em;
  cursor: pointer;
  padding-left: 10px;
}


.social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social li {
  font-size: 0.9em;
  margin-bottom: 14px;
}

.copy {
  position: absolute;
  bottom: 40px;
  left: 48px;
  font-size: 0.8em;
  color: #777;
}


.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  z-index: 999;
}


.footer-box.mal-middle {
  display: flex;
  flex-direction: column;
  background: #ffffff00;
  gap: 30px;
  padding: 0;
  box-shadow: none;
}

.footer-box.mal-middle a {
  background-color: #ffffff;
  padding: 50px 30px;
  border-radius: 25px;
  box-shadow: 0px 1px 5px 0px #0000003b;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.9em;
}

.footer-box i.fa-solid.fa-envelope {
  font-size: 30px;
}

.footer-box i.fa-solid.fa-phone {
  font-size: 30px;
}

.subscribe input {
  font-size: 1em;
  outline: none;
  border: none;

}

.socail {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 35px;
}

.socail i {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-color: #54a5fb;
  padding: 5px;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  cursor: pointer;
  color: #ffffff;
}

.socail i:hover {
  transform: translateY(-6px);
}

/**************projectpage ******************/

section.herobanner1-section-area {
  position: relative;
  z-index: 1;
  padding: 100px 0 0;
}

@keyframes animation-1 {
  0% {

    transform: translateY(0);
  }

  100% {

    transform: translateY(30px);
  }
}

.aniamtion-key-1 {
  position: relative;
  animation-name: animation-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.herobanner1-section-area .elements1 {
  position: absolute;
  z-index: -1;
  top: 20%;
}

.herobanner1-section-area img.elements1.aniamtion-key-1 {
  max-width: 100%;
  width: auto;
}

.mainprojeectbanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.heading1 h1 {
  line-height: 1.3;
}

span.pill-track span {
  font-size: 0.6em;
}


.herobanner1-section-area .header-images-area {
  position: relative;
}

.herobanner1-section-area .header-images-area .main-images-area {
  position: relative;
}

.herobanner1-section-area .header-images-area .main-images-area .img1 {
  position: relative;
  z-index: 1;
}

.herobanner1-section-area .header-images-area .main-images-area .img1 img {
  height: 672.01px;
  width: 486.95px;
  -o-object-fit: cover;
  object-fit: cover;
}

.herobanner1-section-area .header-images-area .main-images-area .img2 {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}

.herobanner1-section-area .header-images-area .main-images-area .img2 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.herobanner1-section-area .header-images-area .main-images-area .icons-area .sound-icons1 {
  position: absolute;
  top: 0;
}

.herobanner1-section-area .header-images-area .main-images-area .icons-area .lite-icons1 {
  position: absolute;
  top: 40%;
  right: -20px;
}

.icons-area img.aniamtion-key-1 {
  width: auto;
  max-width: 100%;
}


/**************projectpage ******************/






/**************contact page ******************/
section.contact-main-inner-area.sp1 {

  padding: 50px 0px 50px;
}

section.maincontects {
  padding: 125px 0px 70px;
  text-align: center;
}

.space32 {
  height: 32px;
}

.maintitle h1 {
  font-size: 8em;
}

.number-address-area {
    position: relative;
    transition: all 0.4s;
    display: flex;
    gap: 70px;
}

.phone-number {
  display: flex;
  align-items: center;
  margin: 0 0px 40px 0px;
}

.contact-main-inner-area .contact-header .number-address-area .phone-number .img1 {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  transition: all 0.4s;
background-color: #e1e1e169;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-main-inner-area .contact-header .number-address-area .phone-number .content {
  margin-left: 16px;
}

.phone-number .content {
  margin-left: 16px;
}

.phone-number i {
    font-size: 25px;
}

.contact-form-area {
  position: relative;
  z-index: 1;
}
.contact-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input-area input {
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  background-color: #FFF;
  width: 100%;
  padding: 16px;
  height: 48px;
  font-size: 0.8em;
  outline: none;
}

.input-area textarea {
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  background-color: #FFF;
  width: 100%;
  padding: 16px;
  height: 120px;
  font-size: 0.8em;
  resize: none;
  outline: none;
}

.gridcontectfield {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.innermain-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #fffffffa;
  padding: 25px;
  border-radius: 15px;
}

.inner-contect-right {
  padding-left: 45px;
}

.input-area input::placeholder {
  color: #000000;
}

.input-area textarea::placeholder {
  color: #000000;
}

/**************contact page ******************/
/**************about page ******************/




.page-banner11 {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('../images/teem5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 217px 0 235px;
  margin: 90px 0px 0;
  border-radius: 28px;
  background-position: center top;
}


.shape::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 117px;
  height: 85px;
  background-image: url(../images/shape1-4.png);
  z-index: 99;
  border-radius: 20px 0 0 0;
}

.shape3::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 292px;
  background-image: url(../images/shape1-6.png);
  z-index: 99;
}


.staff-text {
  position: absolute;
  right: 200px;
  top: 50px;
  text-transform: none;
  letter-spacing: -0.03em;
  word-spacing: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 0.75em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  white-space: nowrap;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-90deg) translateX(100%);
  -ms-transform: rotate(-90deg) translateX(100%);
  transform: rotate(90deg) translateX(100%);
}

.page-about {
  position: relative;
  text-align: center;
  max-width: 877px;
  margin: 0 auto;
}


.page-about h1 {
  color: #fff;
}

.ibt-section-gap {
  padding-top: 120px;
}

.sec-title {
  width: 70%;
}

.title-area {
  margin-bottom: 45px;
}

.maincncontentlife {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.maincncontentlife .about-content9 .title {
  background-color: transparent;
  padding: 0px 5px 0px 0px;
  font-size: 100px;
  line-height: 300px;
  margin-bottom: 0;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #ffffff;
  -webkit-text-stroke: 1px rgba(2, 1, 1, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(348deg, #8258c8 0%, #2c84c8 100%);
  background-image: linear-gradient(102deg, #8258c8 0%, #2c84c8 100%);
}

.about-info9 p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.ser-content22 {
  background-color: #1f1f1f;
  border-radius: 25px;
  padding: 50px 50px 50px;
  position: relative;
  height: 700px;
}

.ser-card22.v2 {
  position: relative;
  background-color: unset;
  height: 700px;
}

.ser-card22>img {
  height: 100%;
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}

.ser-card22 .profection {
  position: absolute;
  bottom: 61px;
  left: 75px;
  max-width: 490px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #FFF;
  margin-bottom: 0;
}

section.section-about {
  background-color: #ffffff;
  padding: 40px 0;
}

section.section-about.aboutpage {
  padding-top: 60px;
}

section.section-about.aboutpage .teemcontent {
  padding-left: 40px;
}

.ser-counter22 {
  position: absolute;
  top: 78px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg) translateX(100%);
  -ms-transform: rotate(90deg) translateX(100%);
  transform: rotate(90deg) translateX(100%);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.counter-box22 {
  position: relative;
  margin-bottom: 0;
}

.counter-box22 .counter-number,
.counter-box22 .counter-text {
  position: relative;
  background-color: transparent;
  color: #FFF;
  font-size: 120px;
  line-height: 90px;
  font-weight: 600;
  z-index: 0;
  letter-spacing: -0.03em;
}

.ser-counter22 .title {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 0 15px 0;
}

.ser-counter22 .title {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 0 15px 0;
}

.ser-content22 p {
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  color: #FFF;
}

.ser-content22 .title {
  font-weight: 400;
  line-height: 60px;
  color: #FFF;
  max-width: 450px;
  margin-bottom: 21px;
}

.servicesgride {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 40px;
  align-items: start;
}




.sec-title {
  position: relative;
  margin-bottom: 45px;
  overflow: hidden;
}

.team-info {
  position: relative;
  padding-right: 40px;
  padding-top: 10px;
}

.sec-title .title {
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: -0.05em;
  display: block;
}

.team-counter {
  position: relative;
}

.counter-box8 {
  position: relative;
  display: inline-block;
  margin-bottom: 14px;
}

.counter-box8 .counter-number,
.counter-box8 .counter-text {
  position: relative;
  background-color: transparent;
  color: #d31a3e;
  font-size: 100px;
  line-height: 90px;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0);
  stroke: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(348deg, #8258C8 0%, #2C84C8 60%);
  background-image: linear-gradient(102deg, #8258C8 0%, #2C84C8 60%);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
  z-index: 0;
  letter-spacing: -0.03em;
}

.team-counter .title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
  display: block;
  color: #000;
}

.team-card.v1 {
  margin-top: 54px;
}

.team-card {
  position: relative;
  display: inline-block;
  width: 100%;
}

.team-img {
  position: relative;
  border-radius: 16px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  padding-bottom: 103%;
  width: 100%;
  overflow: hidden;
  display: block;
  border-radius: 25px;
  z-index: 9;
  background-color: #000;
}

.team-img img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
  -webkit-transition: 0.6s cubic-bezier(0.21, 0, 0.01, 0.98);
  transition: 0.6s cubic-bezier(0.21, 0, 0.01, 0.98);
  border-radius: 25px;
  opacity: 70%;
}



.team-shap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 20px;
  height: 20px;
  background-image: url(../images/team-corner1.png);
}

.team-shap::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 20px;
  height: 20px;
  background-image: url(../images/team-corner2.png);
}

.team-content {
  position: relative;
  padding: 55px 20px 20px 20px;
  border: 1px solid #E0E0E0;
  border-radius: 0 0 40px 40px;
  border-top: 0;
  margin-top: -35px;
}

.team-content .name {
  font-size: 25px;
  margin-bottom: 8px;
  font-weight: 700;
}

.team-content .designation {
  font-size: 14px;
  font-weight: 500;
  color: #9B9B9B;
  display: inline-block;
}



.team-card:hover .team-img img {
  object-position: top center;
}

.team-card:hover .social-links {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.maingridteam {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.team-info .gridmembers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridmembers.gaping {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridmembers.gaping .gridmemberleftside:nth-child(even) {
  margin-top: 30px;
}

.gridmembers.gaping {
  gap: 0 20px;
}

section.service-sec22 {
  padding-bottom: 100px;
}

.team-info .sec-title {
  width: 100%;
}

section.team-section.v2.ibt-section-gapBottom {
  padding-bottom: 100px;
}








/**************about page ******************/

.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.video-modal.active {
  display: flex;
}

.video-box {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  display: block;
}

.close-video {
  position: absolute;
  top: 77px;
  right: 265px;
  color: #050505;
  font-size: 35px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  z-index: 9;

}


/**************Services page******************/

.shapepservicesbanner {
  direction: ltr;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.shapepservicesbanner svg {
  display: block;
  left: 50%;
  fill: #faf7f4;
  height: 4em;
  position: relative;
  transform: translateX(-50%);
  width: calc(100% + 1.3px);
}

section.bannerservices {
  background-image: linear-gradient(rgb(250 247 244 / 32%), rgb(255 255 255 / 84%)), url(../images/servicesmainpage.jpg);
  padding-top: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    padding-bottom: 100px;
}

.maincontent {
  text-align: center;
}

.maincontent h5,
.maincontent h1,
.maincontent p {
  color: #0c0c0c;
}
.service-card {
  max-width: 100%;
  margin: 50px auto;
  background: #fff;
  border-radius: 22px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.service-image {
  width: 50%;
  position: relative;
}

.service-card.aos-animate img {
  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.service-image::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;

}

.mainservidesr .service-card:nth-child(odd) .service-image::after {
  right: 0;
}

.mainservidesr .service-card:nth-child(even) .service-image::after {
  left: 0;
}


.service-card.aos-animate .service-image::after {
  width: 0%;
  transition: 0.9s ease;
  transition-delay: 0.5s;
}

.mainservidesr .service-card:nth-child(even) .service-image img {
  border-top-right-radius: 120px;
}

.mainservidesr .service-card:nth-child(odd) .service-image img {
  border-top-left-radius: 120px;
}

/* CONTENT */
.service-content {
  width: 50%;
  padding: 50px;
}

.service-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.service-content p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 25px;
}

.service-content h4 {
  margin-bottom: 15px;
}

/* LIST */
.service-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.service-content ul li {
  padding-left: 30px;
  position: relative;
  color: #333;
}

.service-content ul li p {
  margin-bottom: 10px;
}

.service-content ul li:before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #4CAF50;
  font-weight: bold;
}

/**************Services page******************/
/************blog page************/
.blog-hero{
  background:linear-gradient(to right, #ebebeb, #ffffff);
  color:#fff;
  padding:80px 0;
  text-align:center;
}
.blog-hero h1{
  font-size:48px;
  margin-bottom:10px;
}
.blog-hero p{
  opacity:.9;
} 
/* FEATURED */
.featured{
  margin-top:-60px;
}
.grid-3{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}
.featured-card{
  background:#fff;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}
.featured-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}
.featured-card h3{
  padding:20px;
}
.mb-5 {
    margin-bottom: 25px;
}
/* BLOG */
.blog-area{
  padding:80px 0;
}

.blog-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
}
.blog-card{
  background:#fff;
  border-radius:10px;
  padding:15px;
  box-shadow:0 10px 20px rgba(0,0,0,.05);
}
.blog-card img{
  width:100%;
  height:180px;
  border-radius:10px;
  object-fit:cover;
}
.category{
  display:inline-block;
  margin:10px 0;
  color:#3f51b5;
  font-size:12px;
  font-weight:600;
}
.blog-card h3{
  font-size:18px;
}
.blog-card p{
  font-size:14px;
  margin:10px 0;
  color:#555;
}
.blog-card a{
  text-decoration:none;
  color:#3f51b5;
  font-weight:600;
}

.blog-bottom-card {
    padding: 10px;
}
.blog-bottom-card h4 {
    font-size: 1em;
}




/************blog page************/
/**************mobile media******************/
/*****************amit****************/
@media (max-width: 1200px) {

  body {
    font-size: 16px;
  }

}

/*****************amit****************/




@media(max-width:1024px) {
  body {
    font-size: 15px;
  }

}

@media(max-width:991px) {

 .grid-3,
  .blog-grid,
  .blog-layout{
    grid-template-columns:1fr;
  }
  .stats-grid,
  .exp-grid {
    flex-wrap: wrap;
  }

  .card.purple,
  .exp-card.small {
    width: 100%;
    height: 240px;
  }

  .footer-grid {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-grid> :last-child {
    grid-column: 1 / -1;
  }

  .featured-container {
    gap: 10px;
  }

  .stack-card {
    height: 450px;
  }

}


@media(max-width:767px) {
  body {
    font-size: 14px;
  }

  .robot-arm {
    top: 95px;
    width: 174px;
  }

  .exp-card {
    padding: 15px;
    min-height: 240px;
  }

  .exp-card.small {
    padding: 15px 15px;
  }

  .helmet {
    right: -23px;
    bottom: -15px;
    width: 210px;
  }

  .exp-text p {
    margin-bottom: 30px;
  }

  .exp-text h3 {
    font-size: 4em;
  }

  .bottom-links a {
    font-size: 13px;
  }

  .parallax-img {
    top: 20px;
    height: 100%;
    border-radius: 40px;
  }

  .parallax-box {
    height: 260px;
  }

  .phones img {
    width: 190px;
    top: 35px;
  }

  .right-info h3 {
    font-size: 3em;
  }

  .card {
    padding: 15px;
  }

  .mxd-project-item-tags {
    flex-wrap: wrap;
  }

  .herobanner-text h1 {
    font-size: 2.5em;
    line-height: 1.6em;
    text-align: center;
  }

  .pill {
    width: 300px;
    top: 10px;
  }

  .bottom {
    flex-wrap: wrap;
    gap: 20px;
  }

  .who-left h5 {
    font-size: 2em;
  }

  .who-wrap {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .who-we-are {
    padding: 30px 0;
  }

  .bottom p {
    font-size: 1em;
  }



  .testimonial-section {
    padding: 0px 0px;
    padding-bottom: 50px;
  }

  .testimonial-wrap {
    gap: 0px;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .bottom li {
    font-size: 1.2em;
  }

  .button-row a.button {
    display: none;
  }



  .herobanner {
    padding-top: 35px;
  }

  .divider {
    margin: 0px 0 40px;
  }

  .footer-box {
    padding: 24px;
  }

  .pill {
    padding: 10px 0px;
  }

  .who-right h2 {
    font-size: 2em;
  }

  .footer-grid {
    grid-template-columns: 100%;
  }

  .footer-box.mal-middle {
    gap: 15px;
  }

  .footer-menu a {
    font-size: 2em;
  }

  .stack-card .card-content {
    width: 100%;
  }

  /********************amit ************************/
  .featured-container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .logo-marquee {
    padding: 40px 0;
  }

  .featured-section {
    padding: 0px 0;
  }

  .who-right h2 {
    font-size: 1.4em;
  }

  .card-content p {
    margin: 0px 0 40px;
  }

  .card-content h3 {
    font-size: 4em;
  }

  .star-img {
    width: 186px;
    left: 0px;
  }

  .button {
    font-size: 1.1em;
    min-width: 140px;
    padding: 14px 22px;
  }

  .featured-left {
    flex: 100%;
    position: relative;
    top: 0;
    text-align: center;
  }

  .featured-left h2 br {
    display: none;
  }

  .testimonial-wrap {
    flex-wrap: wrap;
  }

  .testimonial-left {
    width: 100%;
  }

  .testimonial-right {
    width: 100%;
  }

  .slider {
    gap: 15px;
  }

  .copy {
    position: static;
    font-size: 14px;
  }


  .bottom-links {
    position: static;
    gap: 15px;
  }

  .footer-box.mal-middle a {
    gap: 15px;
    font-size: 1.2em;
  }

  .social li {
    font-size: 1.2em;
  }

  .footer-box.mal-middle a {
    padding: 25px 30px;
  }


}