body {
  background: #faf7f4;
  color: #111;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 1em;
}

 
.container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 3%;
}

.button-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.button i {
  margin-left: 8px;
}

.button {
  z-index: 5;
  border: 1px solid #000;
  text-align: center;
  border-radius: 60px;
  min-width: 150px;
  padding: 14px 20px;
  font-size: 18px;
  transition: all 1s;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  display: inline-block;
}

.button:hover {
  color: #ffffff;
}

.button::after {
  content: "";
  background-color: #000000;
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 1s;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  pointer-events: none;
}

.button:hover::after {
  width: 100%;
}


.button.whitebt::after {
  content: "";
  background-color: #ffffff;
}

.button.whitebt {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button.whitebt:hover {
  color: #000000;
} 
/*============ header =============*/
.header.active .menu-list-ul {
    right: 0%;
    top: 0%;
    width: 1190px;
    height: 600px;
}
.ffff {
    position: relative;
}
.menu-list-ul {
    background-color: #000000;
    width: 0;
    height: 0;
    position: absolute;
    right: -100%;
    top: -100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    z-index: 9999;
    transition: 1.5s;
    overflow: hidden;
}

.menu-list-ul a {
  color: #ffffff;
  font-size: 40px;
}

.header {
  padding: 25px 0;
  transition: 1s;
}

.header .relativee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}
 
.logo {
  width: 140px;
}

.header .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}
.header .button-row {
    margin-right: 70px;
}
.menu {
    background-color: #000000;
    border-radius: 90px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
    position: fixed;
    z-index: 99999;
    transition: 0.5s;
    left: auto;
    margin-left: 175px;
}

.menu span {
  background-color: #ffffff;
  z-index: 2;
  border-radius: .3rem;
  flex: none;
  width: 50%;
  height: .2rem;
  position: relative;
}


.header.active .menu {
  background-color: #ffffff;
}

.header.active .menu span {
  background-color: #000000;
}

/*============ header END=============*/

.hero {
  min-height: 100vh;
  padding: 15px 0;
}

.hero-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hero-text h1 {
  font-size: 100px;
  font-weight: 600;
  line-height: 1.05;
}

.pill {
  background: #9b8df2;
  padding: 30px 0px;
  border-radius: 68px;
  width: 400px;
  overflow: hidden;
  display: inline-block;
}

.pill-track {
  display: flex;
  width: max-content;
  animation: scroll 13s linear infinite;
}

.pill-track span {
  color: #fff;
  font-size: 61px;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.spark {
  font-size: 48px;
}

.divider {
  margin: 90px 0 40px;
  border-top: 4px dashed #ccc;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom p {
  max-width: 420px;
  font-size: 16px;
  color: #333;
}

.bottom ul {
  list-style: none;
}

.bottom li {
  margin-bottom: 12px;
  font-size: 16px;
}


.who-we-are {
  padding: 120px 0;
  background: #faf7f4;
}

.who-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px;
  align-items: start;
}

.tag {
  font-size: 25px;
  color: #111;
  font-weight: 500;
}

.who-right h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 40px;
}

.stats-grid {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.exp-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.exp-card {
  background: #fff;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  padding: 60px;
  min-height: 466px;
}

.exp-card.big {
  display: flex;
  align-items: center;
  width: 100%;
}

.exp-card.small {
  padding: 60px 50px;
  width: 70%;
}

.exp-text h3 {
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 20px;
}

.exp-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #333;
}

/* IMAGES */
.robot-arm {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 450px;
}

.helmet {
  position: absolute;
  right: -40px;
  bottom: -20px;
  width: 280px;
}
 

.card {
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.card.purple {
  background: #a895f4;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 400px;
}

.star-img {
  width: 288px;
  position: absolute;
  left: -40px;
  top: 0px;
}

.card-content h3 {
  font-size: 100px;
  font-weight: 500;
}

.card-content p {
  margin: 0px 0 65px;
  font-size: 18px;
}


.card.white {
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.phones img {
  width: 390px;
  padding: 0;
  position: absolute;
  left: 0;
  top: 15px;
}

.right-info {
  text-align: right;
}

.right-info h3 {
  font-size: 100px;
  margin-top: 60px;
  font-weight: 500;
}

.right-info p {
  font-size: 18px;
}

.avatars {
  display: flex;
  justify-content: flex-end;
  gap: -10px;
}

.avatars img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.spark {
  font-size: 22px;
}

/********************logo-marquee*******************/
.logo-marquee{
  background:#faf7f4;
  padding:80px 0;
  overflow:hidden;
}

.marquee{
  width:100%;
  overflow:hidden;
}

.marquee-track{
  display:flex;
  align-items:center;
  gap:40px;
  width:max-content;
  animation:scroll 25s linear infinite;
}

.marquee-track span{
  font-family:'Poppins', sans-serif;
  font-size:72px;
  font-weight:500;
  color:#b9b4b0;
  white-space:nowrap;
}

.marquee-track i{
  font-size:40px;
  color:#b9b4b0;
  font-style:normal;
}

/* ANIMATION */
@keyframes scroll{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-50%);
  }
}




/***********************logo-marquee end***************/

/****************featured start*****************/


 
.featured-section {
    background: #faf7f4;
    padding: 30px 0;
}

/* MAIN LAYOUT */
.featured-container{ 
  display:flex;
  gap:80px;
  align-items:flex-start;
}

/* LEFT FIXED */
.featured-left{
  flex:1;
  position:sticky;
  top:120px;  
}

.featured-left h2 {
    font-size: 66px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 30px;
}
.featured-left span {
    color: #8b8b8b;
}

/* RIGHT SCROLL */
.featured-right{
  flex:1.2;
  display:flex;
  flex-direction:column;
  gap:40px;
}
.featured-left p {
    margin-bottom: 30px;
}


.scrolls img {
    border-radius: 50px;
    display: block;
}





/****************featured end****************/

/******************testmonials***************/


.testimonial-section{
  background:#faf7f4;
  padding:120px 0;
}

.testimonial-wrap {
    display: flex;
    gap: 40px;
}

.testimonial-left{
  flex:1;
}

.testimonial-left h2 { 
    font-size: 66px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 30px;
}

.clutch{
  margin:40px 0;
}

.nav button{
  width:42px;
  height:42px;
  border-radius:50%;
  border:1px solid #000;
  background:transparent;
  cursor:pointer;
  margin-right:10px;
}

.testimonial-right{
  flex:1.3;
  overflow:hidden;
}

.slider {
    display: flex;
    gap: 30px;
    transition: .4s ease;
    margin-bottom: 25px;
}

.senials-client{
  min-width:360px;
  background:#fff;
  padding:30px;
  border-radius:24px; 
  transition:.4s;
}

.senials-client .active{
  opacity:1;
  filter:none;
}

.senials-client img{
  width:60px;
  height:60px;
  border-radius:50%;
  margin-bottom:20px;
}

.senials-client h4{
  margin:20px 0 4px;
}

/******************testmonials***************/

/*============================ RESPONSIVE =====================*/

@media(max-width:992px) {
 

  .hero-text h1 {
    font-size: 48px;
  }

  .bottom {
    flex-direction: column;
    gap: 30px;
  }
}