body {
  background: #faf7f4;
  color: #000000;
  font-family: 'Poppins';
  font-size: 20px;
  overflow-x: hidden;
}

h1.pagename {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 110px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.mt-3 {
  margin-top: 30px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
  line-height: 1em;
}

p,
li {
  font-size: 0.8em;
  line-height: 1.5;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 15px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: 500;
}

h3 {
  font-size: 2em;
  font-weight: 600;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

h6 {
  color: #050505;
  font-weight: 700;
  font-size: 0.8em;
}

a.logo {
  max-width: 190px;
  position: relative;
  z-index: 99999;
}

a.logo img {
  transition: filter 0.1s ease 1.7s;
}

header.header.activeshow a.logo img {
  filter: invert(1);
  transition: filter 0.2s ease 0.2s;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3%;
}

.button-row {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.button-row.left {
  justify-content: left;
}

.button i {
  margin-left: 8px;
}

.button {
  z-index: 5;
  border: 1px solid #000000;
  text-align: center;
  border-radius: 60px;
  min-width: 150px;
  padding: 15px 22px;
  font-size: 0.9em;
  transition: all 1s;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

.button:hover {
  color: #ffffff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #fff;
}

.button::after {
  content: "";
  background-color: #000000;
  height: 100%;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 1s;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  pointer-events: none;
}

.button:hover::after {
  width: 100%;
}

.button.whitebt::after {
  content: "";
  background-color: #ffffff;
}

.button.whitebt {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.button.whitebt:hover {
  color: #000000;
}

/*============ header =============*/
header.header.bg {
  background-color: #faf7f4;
  top: 0;
  box-shadow: 0 -2px 15px #0000001c;
  animation: fadeSlideDown .5s
}

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header.activeshow .menubg {
  top: 0%;
  transition: top 0.9s ease 0s;
}

.menubg {
  background-color: #000;
  position: absolute;
  top: -100vh;
  width: 100%;
  height: 100vh;
  padding: 40px;
  display: flex;
  align-items: center;
  z-index: 9;
  transition: top 1s ease 1.2s;
}

.menu-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: left;
  width: 100%;
  padding-top: 30px;
}

.menu-list-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0%;
  transition: all 1s ease 0.5s;
}

a.current {
  color: #9b8df2 !important;
}

.menu-list-ul a:hover {
  color: #9b8df2;
}

.menu-list-ul a {
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
}

.header .relativee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}


.menu {
  background-color: #000000;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  gap: 7px;
  transition: 1s;
  z-index: 10;
}

.menu span {
  background-color: #ffffff;
  z-index: 2;
  border-radius: .3rem;
  flex: none;
  width: 50%;
  height: .2rem;
  position: relative;
  transition: 1s;
}

.header.activeshow .menu {
  background-color: #ffffff;
}

.header.activeshow .menu span {
  background-color: #000000;
}

.header.activeshow .menu span:first-child {
  transform: translateY(5px) rotate(45deg);
}

.header.activeshow .menu span:last-child {
  transform: translateY(-5px) rotate(-45deg);
}

.tobader {
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 1px;
  top: 0;
  transition: all 1s ease 0.5s;
}

.medader {
  transition: all 1s ease 0.5s;
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 0%;
  left: 50%;
}

.header.activeshow .medader {
  height: 100%;
}

.header.activeshow .tobader {
  width: 100%;
}

/*========Parallax scrolling ===========*/


.parallax-box {
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  height: 530px;
}

.parallax-img {
  width: 100%;
  display: block;
  transform: translateY(0);
  transition: transform 0.1s linear;
  position: absolute;
  top: -40px;
  height: 120%;
  object-fit: cover;
}


/*========Parallax scrolling ===========*/
.contact-form h3 {
  color: #ffffff;
}

.contact-form {
  width: 85%;
  display: grid;
  gap: 17px;
  margin: 0 auto;
  opacity: 0%;
  transition: all 1s ease 0.5s;
}

header.header.activeshow .contact-form,
header.header.activeshow .menu-list-ul {
  opacity: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  height: 60px;
  border-bottom: 1px solid #ffffff;
  background-color: #00000000;
  color: #ffffff;
  outline: none;
  font-size: 1em;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact-form button {
  padding: 15px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.9em;
  margin-top: 10px;
}

::placeholder {
  color: #ffffff;
}

/*============ header END=============*/
.project-services {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 35px;
  left: 40px;
  flex-wrap: wrap;
}

.project-services.webflow {
  position: static;
  margin-bottom: 20px;
}

.project-services span {
  font-size: 0.7em;
  color: #232128;
  border-radius: 100px;
  padding: 5px 14px;
  background-color: #fff;
}



.herobanner {
  padding: 15px 0;
  padding-top: 95px;
  height: 90vh;
}

.herobanner-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.herobanner-text h1 {
  font-size: 5em;
  line-height: 1.2em;
}

.development-technologie-logo img {
  max-width: 100px;
  max-height: 60px;
  z-index: 99;
}

.development-technologie-all-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255 255 255);
  backdrop-filter: blur(15px);
  border-radius: 10px;
}

.development-technologie-logo {
  border: 1px solid #b41f3d75;
  min-height: 70px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



.pill {
  background: #9b8df2;
  padding: 24px 0px;
  border-radius: 100px;
  width: 400px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 27px;
}

.pill-track {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
}

.pill-track span {
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
  line-height: 1em;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.spark {
  font-size: 2.6em;
}

.freelancer-section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-top: 4px dashed #ccc;
  padding-top: 30px;
  margin-top: 50px;
}

.freelancer-section p {
  max-width: 420px;
}

.freelancer-section ul {
  list-style: none;
}

.freelancer-section li {
  margin-bottom: 12px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.freelancer-section li img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.grid2.onecol .iconcol {
  border-radius: 12px;
  padding: 15px;
  align-items: flex-start;
  position: relative;
  padding-right: 65px;
  background-color: #ffffff;
}

.grid2.onecol p {
  color: #353535;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 15px;
}

.grid2.onecol .iconcol i {
  border: none;
  padding: 0;
  border-radius: 0;
  color: #1b1b1b;
}

.who-we-are {
  padding: 0 0 120px 0;
  background: #faf7f4;
}

.grid2.onecol {
  grid-template-columns: 1fr;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: start;
}

.grid2 .iconcol {
  background-color: #f3f3f3;
  padding: 14px;
  display: flex;
  gap: 16px;
  align-items: center;
  transition: 0.5s;
  border-radius: 4px 0px 19px 0px;
}

.grid2 .iconcol h5 {
  margin-bottom: 0;
  color: #000000;
}

.grid2 .iconcol i {
  font-size: 30px;
  color: #000000;
  border-radius: 1000px;
}

.who-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px;
  align-items: start;
}


.grid2.onecol .iconcol:hover {
  background-color: #9f8be7;
}

.grid2.onecol .iconcol h5,
.grid2.onecol .iconcol p,
.grid2.onecol .iconcol i {
  transition: 0.5s;
}

.grid2.onecol .iconcol:hover h5,
.grid2.onecol .iconcol:hover p,
.grid2.onecol .iconcol:hover i {
  color: #ffffff;
}

.grid2.onecol .iconcol:hover::after {
  color: #d6d6d6;
}

.grid2.onecol {
  counter-reset: step;
  gap: 10px;
}

.grid2.onecol .iconcol::after {
  counter-increment: step;
  content: "0" counter(step);
  color: #8d8d8d75;
  font-size: 40px;
  font-weight: 500;
  position: absolute;
  right: 8px;
  top: 0;
}




.stats-grid {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.exp-grid {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.exp-card {
  background: #fff;
  border-radius: 32px;
  position: relative;
  overflow: hidden;
  padding: 60px;
  min-height: 466px;
}

.exp-card.big {
  display: flex;
  align-items: center;
  width: 100%;
}

.exp-card.small {
  padding: 60px 50px;
  width: 70%;
}

.exp-text h3 {
  font-size: 5em;
  margin-bottom: 20px;
  font-style: normal;
  background: -webkit-linear-gradient(#a81637, #a895f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exp-text p {
  margin-bottom: 40px;
}

.robot-arm {
  position: absolute;
  right: 0;
  top: auto;
  bottom: -54px;
  width: 390px;
  border-top-left-radius: 100px;
}

.exp-card {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.card.white {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.purple {
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

.exp-grid {
  margin-bottom: 30px;
}

.helmet {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 370px;
}


.card {
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.card.purple {
  background: #7c3928;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 400px;
}

.star-img {
  width: 330px;
  position: absolute;
  left: -8px;
  bottom: 0;
}

.card-content h3 {
  font-size: 5em;
  color: #ffffff;
}

.card-content p {
  margin-bottom: 20px;
  color: #ffffff;
}

.card.white {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.phones img {
  width: 390px;
  padding: 0;
  position: absolute;
  left: 0;
  top: 15px;
}

.right-info {
  text-align: right;
}

.right-info h3 {
  font-size: 5em;
  margin-top: 60px;
  margin-bottom: 20px;
  font-style: normal;
  background: -webkit-linear-gradient(#a81637, #a895f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-lato a#k5igsego5j141768806276283 {
  display: none;
}

.avatars {
  display: flex;
  justify-content: flex-end;
  gap: -10px;
}

.avatars img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.spark {
  font-size: 1.1em;
}

a.up-solid:hover i {
  margin-left: 1px;
  margin-top: -15px;
}

a.up-solid i {
  transition: 1s;
}

a.up-solid {
  background-color: #ffffff;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 30px;
  transform: rotate(45deg);
  z-index: 9;
}

a.up-solid.black {
  background-color: #000000;
  color: #ffffff;
}

.portal {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.frelans {
  display: flex;
  align-items: center;
  padding-right: 18px;
}

.clutch img {
  width: 75px;
  padding-right: 18px;
}

.testimonial-wrap .clutch img {
  width: 115px;
  margin-top: 30px;
}

.clutch {
  display: flex;
  align-items: center;
}

.frelans p {
  padding-left: 10px;
}

.frelans img {
  width: 35px;
}

/********************logo-marquee*******************/
.logo-marquee {
  background: #faf7f4;
  padding: 80px 0;
  overflow: hidden;
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.marquee-track h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  background: -webkit-linear-gradient(#a81637, #a895f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marquee-track i {
  font-size: 2em;
  font-style: normal;
  background: -webkit-linear-gradient(#a81637, #a895f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ANIMATION */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/***********************logo-marquee end***************/

/****************featured start*****************/



.featured-section {
  background: #faf7f4;
  padding: 30px 0;
}

/* MAIN LAYOUT */
.featured-container {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}

/* LEFT FIXED */
.featured-left {
  flex: 1;
  position: sticky;
  top: 120px;
}

.featured-right {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-page .featured-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.featured-left p {
  margin-bottom: 30px;
}


.who-right h2 {
  font-weight: 400;
  line-height: 1.4em;
  font-size: 2.2em;
}


section.services-section {
  padding: 40px;
  background-image: url(../images/laptop-wooden-table.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}

section.services-section::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgb(175 4 39 / 87%);
  box-shadow: 0 4px 9.3px rgb(0 0 0 / .05);
  backdrop-filter: blur(8.25px);
}



section.services-section .container {
  z-index: 2;
  position: relative;
}

.services-grid {
  margin-top: 40px;
}

.content-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services-col:hover a {
  letter-spacing: 1.5px;
}

.services-col a {
  color: #ffffff;
  margin-top: 30px;
  display: block;
  transition: 0.6s;
}

.services-col h4 {
  font-size: 1.2em;
  font-weight: 700;
}

.services-col {
  min-height: 445px;
  border-radius: 0px 50px 0px 0px;
  padding: 20px;
  border: solid 1px #d9d9d9c4;
  transition: 0.9s;
}

.services-col:hover {
  background-color: #ffffff;
}

.services-col i {
  font-weight: 900;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #af1235;
  font-size: 32px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.services-section h2,
.services-section h4,
.services-section h6,
.services-section p {
  color: #ffffff;
  transition: 0.5s;
}

.services-col:hover h2,
.services-col:hover h4,
.services-col:hover h6,
.services-col:hover p,
.services-col:hover a {
  color: #171717;
}

/****************featured end****************/

/******************testmonials***************/
.main-user {
  display: flex;
  gap: 25px;
}

.rating span {
  font-size: 27px;
  padding-right: 12px;
  color: #caca0d;
  font-weight: bold;
}

.testimonial-section {
  background: #faf7f4;
  padding: 60px 0;
}

.rating {
  display: flex;
  padding-bottom: 10px;
}

a.client-video-review {
  background-color: #b2324c;
  padding: 8px 15px;
  border-radius: 20px;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  position: absolute;
  bottom: 14px;
  display: none;
}

.testimonial-wrap {
  display: flex;
  gap: 40px;
  width: 100%;
}

.testimonial-left {
  width: 30%;
}

.slider.owl-carousel .owl-nav .owl-prev,
.slider.owl-carousel .owl-nav .owl-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.slider.owl-carousel .owl-nav button:hover {
  background-color: #9b8df2;
  border-color: #9b8df2;
}

.slider.owl-carousel .owl-nav button:hover i.fa-solid {
  color: #fff;
}

.slider.owl-carousel .owl-nav {
  margin-top: 40px;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

.slider.owl-carousel .owl-stage-outer {
  padding-bottom: 10px;
  padding-top: 10px;
}

.testimonial-right {
  overflow: hidden;
  width: 70%;
}

.slider {
  display: flex;
  gap: 30px;
  transition: .4s ease;
  margin-bottom: 25px;
  padding: 8px 8px;
}

.senials-client {
  background: #fff;
  padding: 25px;
  border-radius: 24px;
  transition: .4s;
  box-shadow: 0px 1px 5px 0px #0000003b;
  position: relative;
  /* padding-bottom: 53px; */
}

.senials-client p {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 125px;
}

.senials-client h5 {
  margin-bottom: 5px;
}

.senials-client h6 {
  font-weight: 300;
  color: #494848;
  font-size: .7em;
}

.senials-client .active {
  opacity: 1;
  filter: none;
}

.senials-client img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.senials-client h4 {
  margin: 20px 0 4px;
}

.grid2.aboutbox div {
  width: 80%;
}

.grid2.aboutbox {
  margin-top: 30px;
  margin-bottom: 0px;
}

.grid2.aboutbox h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 5px;
}

.teemcontent h3 {
  margin-top: 10px;
}

.section-about h6 {
  color: #a00c2c;
}

.grid2.aboutbox i {
  font-size: 50px;
  color: #a00c2c;
  margin-bottom: 20px;
}

.section-about img {
  border-radius: 8px 161px 8px 8px;
  box-shadow: 5px 0px 0px 5px #a00c2c;
}

section.logo-slider {
  margin-bottom: 60px;
}


.owl-carousel .owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}


.websitelogo-section {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.websitelogo-section img {
  max-height: 48px;
  max-width: 140px;
  width: auto !important;
  object-fit: contain;
}



img.haight-auto {
  max-height: none;
  max-width: 86px;
}

/******************testmonials***************/
.card-imgg {
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card-imgg img {
  position: absolute;
  inset: 0;
  height: 107%;
  width: 100%;
  object-fit: cover;
}

section.stack-wrapper {
  padding: 70px 0;
  background-color: #fff;
}

.stack-card {
  position: sticky;
  top: 170px;
  background: #000000;
  border-radius: 50px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
  min-height: 550px;
}

.stack-card h2 {
  font-size: 2em;
  margin-bottom: 13px;
}

.stack-card-row {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.card-1 {
  z-index: 1;
}

.card-2 {
  z-index: 2;
  background-color: #9f8be7;
}

.card-3 {
  z-index: 3;
  background-color: #ffffff;
}

.card-3 .project-services span {
  background-color: #000000;
  color: #ffffff;
}

.card-4 {
  z-index: 4;
}

.card-1 h2,
.card-1 p,
.card-2 h2,
.card-2 p,
.card-4 h2,
.card-4 p,
.card-content h6,
.card-content li {
  color: #ffffff;
}

.card-content h6 {
  margin-bottom: 7px;
  margin-top: 14px;
}

.card-content ul {
  padding-left: 35px;
}


.card-3 h2,
.card-3 p {
  color: #000000;
}


.bg-right img {
  position: absolute;
  width: 280px;
  right: 0;
  top: 110px;
}

.bg-imgs img {
  width: 135px;
  position: absolute;
  left: 0;
  top: 170px;
  animation: floatY 3s ease-in-out infinite;
}

.bg-right img {
  animation: floatY 3s ease-in-out infinite;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes floatX {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}

/******************footer**************/

footer.footer {
  padding-bottom: 40px;
}

.footer-menu li:hover {
  transform: translateY(-3px);
  transition: all 0.3s ease;

}

.footer-menu a:hover {
  color: #9b8df2;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.footer-box {
  background: #fff;
  border-radius: 28px;
  padding: 30px;
  position: relative;
  width: 100%;
  box-shadow: 0px 1px 5px 0px #0000003b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

p.bottom-links {
  font-size: 0.7em;
  margin-top: 20px;
}

ul.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-menu li {
  list-style: none;
  transition: all 0.3s ease;
}

.footer-menu a {
  font-size: 2.3em;
  font-weight: 700;
}



.subscribe {
  padding: 32px;
  border-radius: 25px;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 0px #0000003b;
}

.subscribe h3 {
  font-size: 1.5em;
  margin-bottom: 60px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #888;
  padding-bottom: 12px;
}

input input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.2em;
  width: 100%;
  font-family: Poppins, sans-serif;
}

.input input::placeholder {
  color: #777;
}

.arrow {
  border: none;
  background: transparent;
  font-size: 0.9em;
  cursor: pointer;
  padding-left: 10px;
}


.footer-box .social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social li {
  font-size: 0.9em;
}

.copy {
  font-size: 0.8em;
  color: #777;
}


.to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  z-index: 999;
}

.footer-box.right h3 {
  font-size: 1.7em;
  margin-bottom: 25px;
}

.footer-box.mal-middle {
  display: flex;
  flex-direction: column;
  background: #ffffff00;
  gap: 23px;
  padding: 0;
  box-shadow: none;
}

.footer-box.mal-middle a {
  background-color: #ffffff;
  padding: 42px 30px;
  border-radius: 25px;
  box-shadow: 0px 1px 5px 0px #0000003b;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.9em;
}

.footer-box i {
  font-size: 30px;
}

.subscribe input {
  font-size: 1em;
  outline: none;
  border: none;

}

.socail {
  display: flex;
  gap: 8px;
  align-items: center;
}

.socail i {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  background-color: #9b8df2;
  padding: 5px;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  cursor: pointer;
  color: #ffffff;
}

.socail i:hover {
  transform: translateY(-6px);
}

/**************projectpage ******************/

section.herobanner1-section-area {
  position: relative;
  z-index: 1;
  padding: 100px 0 0;
  background-color: #f2f2f2;
}

@keyframes animation-1 {
  0% {

    transform: translateY(0);
  }

  100% {

    transform: translateY(30px);
  }
}

.aniamtion-key-1 {
  position: relative;
  animation-name: animation-1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



.mainprojeectbanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.heading1 h1 {
  line-height: 1.3;
}

span.pill-track span {
  font-size: 0.6em;
}


.herobanner1-section-area .header-images-area {
  position: relative;
}

.herobanner1-section-area .header-images-area .main-images-area {
  position: relative;
  top: 8px;
}

.herobanner1-section-area .header-images-area .main-images-area .img1 {
  position: relative;
  z-index: 1;
  left: -138px;
}


.herobanner1-section-area .header-images-area .main-images-area .img1 img {
  height: auto;
  width: 644px;
}

.rightproject {
  width: 30%;
}

.leftcontern {
  width: 60%;
}

.herobanner1-section-area .header-images-area .main-images-area .img2 {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}

.herobanner1-section-area .header-images-area .main-images-area .img2 img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.herobanner1-section-area .header-images-area .main-images-area .icons-area .sound-icons1 {
  position: absolute;
  top: 0;
  left: -115px;
}

.herobanner1-section-area .header-images-area .main-images-area .icons-area .lite-icons1 {
  position: absolute;
  top: 40%;
  right: -20px;
}

.icons-area img.aniamtion-key-1 {
  width: auto;
  max-width: 100%;
}


/**************projectpage ******************/






/**************contact page ******************/
section.contact-main-inner-area.sp1 {

  padding: 50px 0px 50px;
}

section.maincontects {
  padding: 125px 0px 70px;
  text-align: center;
}

.space32 {
  height: 32px;
}

.maintitle h1 {
  font-size: 8em;
}

.number-address-area {
  position: relative;
  transition: all 0.4s;
  display: flex;
  gap: 70px;
}

.phone-number {
  display: flex;
  align-items: center;
  margin: 0 0px 40px 0px;
}

.contact-main-inner-area .contact-header .number-address-area .phone-number .img1 {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  transition: all 0.4s;
  background-color: #e1e1e169;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-main-inner-area .contact-header .number-address-area .phone-number .content {
  margin-left: 16px;
}

.phone-number .content {
  margin-left: 16px;
}

.phone-number i {
  font-size: 25px;
}

.contact-form-area {
  position: relative;
  z-index: 1;
}

.contact-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-area input {
  border-radius: 8px;
  border: 1px solid #9a9a9a;
  background-color: #FFF;
  width: 100%;
  padding: 16px;
  height: 48px;
  font-size: 0.8em;
  outline: none;
}

.input-area textarea {
  border-radius: 8px;
  border: 1px solid #9a9a9a;
  background-color: #FFF;
  width: 100%;
  padding: 16px;
  height: 120px;
  font-size: 0.8em;
  resize: none;
  outline: none;
}

.gridcontectfield {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.innermain-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #fffffffa;
  padding: 25px;
  border-radius: 15px;
}

.inner-contect-right {
  padding-left: 45px;
}

.input-area input::placeholder {
  color: #000000;
}

.input-area textarea::placeholder {
  color: #000000;
}

/**************contact page ******************/
/**************about page ******************/

.staff-text {
  position: absolute;
  right: 200px;
  top: 50px;
  text-transform: none;
  letter-spacing: -0.03em;
  word-spacing: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 0.75em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  white-space: nowrap;
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-90deg) translateX(100%);
  -ms-transform: rotate(-90deg) translateX(100%);
  transform: rotate(90deg) translateX(100%);
}

.page-about {
  position: relative;
  text-align: center;
  max-width: 877px;
  margin: 0 auto;
}


.page-about h1 {
  color: #fff;
}


.about-info9 p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.ser-content22 {
  background-color: #1f1f1f;
  border-radius: 25px;
  padding: 50px 50px 50px;
  position: relative;
  height: 700px;
}

.ser-card22.v2 {
  position: relative;
  background-color: unset;
  height: 700px;
}

.ser-card22>img {
  height: 100%;
  border-radius: 25px;
  width: 100%;
  object-fit: cover;
}

.ser-card22 .profection {
  position: absolute;
  bottom: 61px;
  left: 40px;
  max-width: 500px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 0;
}

section.section-about {
  background-color: #ffffff;
  padding: 40px 0;
}

section.section-about.aboutpage {
  padding-top: 60px;
}

section.section-about.aboutpage .teemcontent {
  padding-left: 40px;
}

.ser-counter22 {
  position: absolute;
  top: 78px;
  right: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg) translateX(100%);
  -ms-transform: rotate(90deg) translateX(100%);
  transform: rotate(90deg) translateX(100%);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}

.counter-box22 {
  position: relative;
  margin-bottom: 0;
}

.counter-box22 .counter-number,
.counter-box22 .counter-text {
  position: relative;
  background-color: transparent;
  color: #FFF;
  font-size: 120px;
  line-height: 90px;
  font-weight: 600;
  z-index: 0;
  letter-spacing: -0.03em;
}

.ser-counter22 .title {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 0 15px 0;
}

.ser-counter22 .title {
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  font-weight: 600;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin: 0 15px 0;
}

.ser-content22 p {
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  color: #FFF;
}

.ser-content22 .title {
  color: #FFF;
  max-width: 450px;
  margin-bottom: 21px;
}

.servicesgride {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: 40px;
  align-items: start;
}


.team-counter {
  position: relative;
}


.team-card {
  position: relative;
  display: inline-block;
  width: 100%;
}



.team-card:hover .social-links {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

ul.social li a {
  font-size: 1.2em;
  font-weight: 600;
}


.gridmembers.gaping {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridmembers.gaping .gridmemberleftside:nth-child(even) {
  margin-top: 30px;
}

.gridmembers.gaping {
  gap: 0 20px;
}

section.service-sec22 {
  padding-bottom: 100px;
}




/**************about page ******************/
.video-wrapper {
  position: relative;
  width: 40%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}

.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.video-modal.active {
  display: flex;
}

.video-box {
  position: relative;
  width: 100%;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
}

.video-box video {
  width: 100%;
  display: block;
}

.close-video {
  position: absolute;
  top: 0;
  right: 0;
  color: #050505;
  font-size: 35px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  z-index: 9;

}

/**************Services page******************/
.shapepservicesbanner {
  direction: ltr;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.shapepservicesbanner svg {
  display: block;
  left: 50%;
  fill: #faf7f4;
  height: 4em;
  position: relative;
  transform: translateX(-50%);
  width: calc(100% + 1.3px);
}

.maincontent {
  text-align: center;
}

.maincontent h1,
.maincontent p {
  color: #fff;
}

.service-card {
  max-width: 100%;
  margin: 50px auto;
  background: #fff;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  grid-template-columns: 1fr 1fr;
  align-items: center;
  display: grid;
}

.service-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: none;
  position: relative;
  overflow: hidden;
}

.service-card.aos-animate img {
  opacity: 1;
  transition: opacity 1s ease;
  transition-delay: 1s;
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.service-image::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;

}

.mainservidesr .service-card:nth-child(odd) .service-image::after {
  right: 0;
}

.mainservidesr .service-card:nth-child(even) .service-image::after {
  left: 0;
}


.service-card.aos-animate .service-image::after {
  width: 0%;
  transition: 0.9s ease;
  transition-delay: 0.5s;
}

.mainservidesr .service-card:nth-child(even) .service-image img {
  border-top-right-radius: 120px;
}

.mainservidesr .service-card:nth-child(odd) .service-image img {
  border-top-left-radius: 120px;
}

.service-content {
  width: 100%;
  padding: 50px;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.service-content p {
  line-height: 1.7;
  margin-bottom: 25px;
}

.service-content h4 {
  margin-bottom: 15px;
}

.service-content ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}

.service-content ul li {
  padding-left: 30px;
  position: relative;
  color: #333;
}

.service-content ul li p {
  margin-bottom: 10px;
}

.service-content ul li:before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  color: #b2324c;
  font-weight: bold;
}

/**************Services page******************/
/************blog page************/

section.featured {
  padding-top: 60px;
}



.blog-hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.blog-hero p {
  opacity: .9;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.minebloges {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

/* BLOG */
.blog-area {
  padding: 80px 0;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.blog-card:hover {
  margin-top: -5px;
}

.blog-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
  transition: 0.6s;
}

.blog-card img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

.blog-card h3 {
  font-size: 20px;
  margin-top: 10px;
}

.blog-card p {
  font-size: 14px;
  margin: 10px 0;
  color: #555;
}

.blog-card:hover .readmore {
  letter-spacing: 1px;
}

.readmore {
  text-decoration: none;
  color: #5f4dce;
  font-weight: 600;
  transition: 0.6s;
}

.main-client-collaboration {
  display: flex;
  align-items: start;
  padding-bottom: 40px;
}

.left-collaboration-content {
  padding-right: 40px;
  width: 60%;
}

.right-collaboration-content {
  padding-left: 20px;
  width: 40%;
}

.collaboration-slider-tems .item {
    border: 2px solid #9b8df2;
    padding: 4px;
    border-radius: 10px;
    overflow: hidden;
    height: 340px;
    width: 100%;
}

.collaboration-slider-tems .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.client-collaboration-slider {
  padding-bottom: 60px;
}

section.blog-detail-content {
  padding: 60px 0;
}

.blog-detail-row {
  grid-template-columns: 1fr 23%;
  width: 100%;
  display: grid;
  gap: 2%;
  align-items: start;
}

.detail-content h3 {
  margin-top: 30px;
  font-size: 1.5em;
}

.widget-content {
  background-color: #a00c2c;
  text-align: left;
  padding: 20px;
  position: sticky;
  top: 80px;
  z-index: 9;
  border-radius: 10px;
  margin-top: -123px;
  align-items: baseline;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-content img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.widget-content h4,
.widget-content p,
.widget-content h5 {
  color: #ffffff;
}

.widget-content a {
  margin-top: 16px;
  color: #fff;
}

.widget-content .socail {
  justify-content: center;
}

.detail-content ul {
  padding-left: 35px;
  margin-top: 14px;
}

section.banner {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  margin: 70px 0px 0;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

section.banner.servicesbanner {
  height: 57vh;
}

section.banner.aboutbanner {
  border-bottom-left-radius: 80px;
}

section.banner.blogbanner {
  margin-top: 0;
}

section.banner.white-text h1 {
  color: #ffffff;
}

/***********************client video *****************/

.simple-video {
  max-width: 900px;
  margin: 80px auto 15px;
  text-align: center;
}

.video-thumb {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  border: 7px solid #9f8be7;
  margin-top: 20px;
}

.video-thumb img,
.video-thumb video {
  width: 100%;
  display: block;
}

.video-thumb video {
  display: none;
}

.play-btn {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  background: #9f8be7;
  color: #fff;
  font-size: 28px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}



/****************services-detail*********/

.text-infosection {
    padding: 50px 0px;
    background-color: #fff;
}
.servicestext-info {
    text-align: center;
} 
.skills-box {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px #0000001a;
    margin-bottom: 30px;
}
.skills-box h5{
  margin-bottom: 0;
}
.iconskills span.icon {
    font-size: 35px;
    margin-right: 2px;
}
.skills-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 1.5rem;
}
.centerbuttons {
    text-align: center;
} 
section.skills-belovesoft {
    padding-bottom: 50px;
    background-color: #fff;
}
.flex-servicethreesection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.5rem;
}
.left-contents a.button {
    margin-top: 25px;
}
section.servicesthreesection {
    padding-top: 50px;
    background-color: #fff;
    padding-bottom: 50px;
}
.gridings
 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1.5rem;
}
.flexinghft.sticky-div {
    position: sticky;
    top: 80px;
    height: 240px;
}
.list-flexibal {
    background-color: #fff;
    padding: 20px 10px 20px 10px;
    margin-bottom: 25px;
    border-radius: 10px;
}
.flexibels {
    display: flex;
    align-items: start;
    gap: 0px 10px;
}

.flexibels span.bg-img
 {
    background-color: #a00c2c;
    padding: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 15px;
    color: #fff;
    display: flex;
    line-height: 1;
    align-items: center;
    background-position: 50%;
    margin-right: 20px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.rightvertylfrt {
    position: relative;
}
.rightvertylfrt::before {
    content: "";
    position: absolute;
    top: 0;
    left: 19.5px;
    width: 2px;
    height: 96%;
    background: linear-gradient(180deg, #a00c2c, #fff);
    z-index: 0;
}

.lisitems .list-flexibal:not(:last-child) {
    margin-bottom: 33px;
}
section.vertyfer {
  padding-top: 50px;
  padding-bottom: 50px;
}




.stack-row {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
  overflow: hidden;
}

.stack-title {
  background: #a00c2c;
  color: #fff;
  padding: 16px 22px;
  min-width: 220px;
  font-weight: 600;
  font-size: 15px;
}

.stack-content {
  padding: 16px 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  color: #333;
  font-size: 14px;
}

.stack-content span {
  position: relative;
  padding-right: 14px;
}

.stack-content span:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #ccc;
}

section.stack-wrapper h3 {
    text-align: center;
    margin-bottom: 50px;
}







/* ================= INDUSTRIES SECTION CSS START ================= */

.industries-sec {
  background: url("../images/overworked.jpg") center/cover no-repeat;
  background-attachment: fixed;
  position: relative;
}

.industries-overlay {
  background: rgba(10, 15, 35, 0.75);
  padding: 90px 0;
}
.industries-container {
  max-width: 1300px;
  margin: auto;
  text-align: center;
  color: #fff;
}
.industries-title { 
  margin-bottom: 38px;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}
.industries-subtitle {
  letter-spacing: 0;
  font-weight: 300;
  margin: 0 auto 50px;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}
.industries-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.industry-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.industry-icon {
    width: 70px;
    height: 70px;
    border-radius: 0px 35px 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a00c2c;
    font-size: 28px;
    transition: all 0.3s ease;
    border: 1px solid #a00c2c;
    border-left: 0;
    box-shadow: 0 0 25px 0 #00000014;
}
.industry-card:hover .industry-icon {
  background: #a00c2c;
  color: #ffffff;

} 
.industry-name { 
  font-weight: 600;
  color: #222;
}

.industry-no {
    position: absolute;
    right: 5px;
    font-size: 85px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.13);
    letter-spacing: 2px;
}


.industries-cta {
  margin-top: 55px;
  text-align: center;
}

.industries-btn {
  display: inline-block;
  background: #a00c2c;
  color: #fff;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 15px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.industries-btn:hover {
  background: #28c76f;
}
  .industries-cta a.button {
    border-color: #fff;
    color: #fff;
}
.industries-cta a.button::after {
    background-color: #fff;
}
.industries-cta a.button:hover{
  color: #000;
}
/* ================= CTA PROPOSAL SECTION START ================= */

.cta-proposal-sec{
  padding: 40px 0;
  border-top: 1px solid #a00c2c;
  border-bottom: 1px solid #a00c2c;
  background: #ffffff;
  margin-bottom: 60px;
}

.cta-proposal-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.cta-title{ 
  color: #000;
  margin-bottom: 12px;
}

.cta-subtitle{
  font-size: 24px;
  color: #000;
}

.cta-highlight{
  color: #a00c2c;
  font-weight: 500;
}


.cta-proposal-btn-wrap{
  flex-shrink: 0;
}

.cta-proposal-btn{
  display: inline-block;
  padding: 14px 28px;
  background: #a00c2c;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.cta-proposal-btn:hover{
  background: #a00c2c;
}

/* ================= CTA PROPOSAL SECTION END ================= */


.cardbox {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: .25rem;
    box-shadow: 0 2px 5px #0000001a;
    background-color: #fff;
    padding: 20px;
    height: 480px;
}
.cardboxdeader
 {
    padding: .5rem 1rem;
    padding-left: 0;
}
.cardboxdeader h5.cardtitlehesder
 {
    background-color: #000;
    width: 60px;
    height: 60px;
    border-radius: 70px;
    padding: 14px 0;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardbody {
    padding: 20px;
}
.cardbody h5
 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 0.5rem;
}

.cardbody ul.cardlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.cardbody ul.cardlist li.list-group-item{position: relative;
  margin-bottom: 10px;
    display: flex;
    padding:10px 0;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);}
.cardbody ul.cardlist li:before {
    content: "\2714";
    margin-right: 10px;
}

.cardbody ul.cardlist li.list-group-item
 {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.cardbody ul.cardlist .list-group-item:last-child {
    border-bottom-width: 0;
}
.maincardgrid
 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 1.5rem;
}
.title h3 {
    text-align: center;
    margin-bottom: 40px;
}

section.bacancy {
    padding: 50px 0px;
}
.price-item {
    box-shadow: 0 1px 6px 0 #0000001a;
}
.boxed
 {
    text-align: center;
    padding: 20px;
}

.boxed h4
 {
    font-size: 60px;
    font-weight: 700;
    color: #a00c2c;
}
.boxed p
 {
    color: #000;
    font-size: 25px;
    font-weight: 600;
}
.bottom-box {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #a00c2c;
}
.start-price {
    text-align: center;
    position: relative;
    top: -12px;
}
.gridhirdeloper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
}
.start-price img {
    max-width: 100%;
    width: auto;
}
.delopertitle
 {
    text-align: center;
    padding-bottom: 75px;
}
section.hirdewloper {
    padding: 70px 0px;
    background-color: #fff;
}

/****************************services***********************/

.audit-section {
    max-width: 1100px;
    margin: 80px auto;
    text-align: center;
  }

  .audit-section h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .audit-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 14px;
    padding: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  }

  

  .audit-box button {
    background: #b2324c;
    color: #fff;
    border: none;
    padding: 16px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
  }

  .audit-box button:hover {
    background: #3c4fe0;
  }

  .audit-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 16px 18px;
  border-radius: 10px;
  color: #000;
}

.audit-box input::placeholder {
  color: #888;
  opacity: 1;
}

.servicestext-info p {
    width: 1150px;
    margin: 0 auto;
}



.rating{
  margin:25px 0;
  display:flex;
  align-items:center;
  gap:10px;
}
 


.rights-servicesx {
    width: 40%;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    background-color: #b2324c;
}
.rights-servicesx h4 {
    color: #fff;
}

.form-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
}
.form-grid input, .form-grid select, .form-grid textarea {
      width: 100%;
    outline: none;
    background: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 10px;
    font-size: 14px;
    color: #000000;
}


textarea{
  grid-column:1 / -1;
  resize:none;
}
.servicesbuttons  {
    margin-top: 20px;
}

.form-grid input::placeholder,
.form-grid textarea::placeholder {
  color: #888;
}

.full{
  grid-column:1 / -1;
}
.checkbox {
    font-size: 17px;
    margin: 20px 0;
    color: #edf3f9;
}
 

.banner-mains {
    display: flex;
    width: 100%;
    padding-top: 120px;
    align-items: center;
        justify-content: space-between;
}
.left {
    width: 60%;
}


/**************mobile media******************/
@media (max-width: 1200px) {

  body {
    font-size: 16px;
  }

  .herobanner {
    position: relative;
    height: 85vh;
  }

  .bg-imgs img {
    width: 120px;
    top: 165px;
  }

  .bg-right img {
    width: 200px;
  }

  .herobanner-text h1 {
    font-size: 4em;
  }

  html {
    overflow-x: hidden;
  }

  .servicesgride {
    grid-template-columns: 1fr;
  }

  .ser-content22 {
    height: auto;
  }

  .ser-card22.v2 {
    height: auto;
  }

  .shape::before {
    top: -1px;
  }

  .staff-text {
    font-size: 45px;
  }

}

@media(max-width:1024px) {
  body {
    font-size: 15px;
  }
.maincardgrid {
    grid-template-columns: 1fr 1fr ;
    gap: 1.5rem;
}
  .rightproject {
    width: 45%;
  }
.boxed h4 {
    font-size: 40px;
}
.boxed p
 {
    font-size: 20px;
}


  .leftcontern {
    width: 48%;
  }

  .video-wrapper {
    width: 90%;
  }

}

@media(max-width:991px) {
  .socail {
    margin: 18px 0px;
  }
.industries-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
  .grid-3,
  .blog-grid,
  .blog-layout {
    grid-template-columns: 1fr;
  }

  .stats-grid,
  .exp-grid {
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
  }

  .card.purple,
  .exp-card.small {
    width: 100%;
    height: auto;
  }

  .footer-grid {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-grid> :last-child {
    grid-column: 1 / -1;
  }

  .featured-container {
    flex-wrap: wrap;
    gap: 40px;
  }

  .services-col {
    min-height: 335px;
  }

  .stack-card {
    height: 450px;
  }

  .featured-left {
    flex: 100%;
    position: relative;
    top: 0;
    text-align: center;
  }

  .featured-left h2 br {
    display: none;
  }

  .gridmembers.gaping .gridmemberleftside:nth-child(even) {
    margin-top: 0px;
  }


  .service-card {
    grid-template-columns: 1fr;
  }

  .service-content {
    width: 100%;
    order: 2;
  }

  .service-image {
    width: 100%;
    order: 1;
  }

  .mainservidesr .service-card:nth-child(odd) .service-image img {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
  }

  .mainservidesr .service-card:nth-child(even) .service-image img {
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
  }

  .mainservidesr .service-card:first-child {
    margin-top: 0;
  }

  .maintitle h1 {
    font-size: 5em;
  }

  section.maincontects {
    padding: 125px 0px 0px;
  }

  .innermain-contact {
    grid-template-columns: 1fr;
  }

  .inner-contect-right {
    padding-left: 0;
  }

  .blog-hero {
    padding: 70px 0;
  }

  .blog-hero h1 {
    font-size: 38px;
    line-height: 1.4;
  }

  .robot-arm {
    top: 35px;
    width: 270px;
  }

  .exp-card {
    padding: 40px;
    min-height: auto;
  }

  .detail-content {
    width: 100%;
  }

  .detail-content ul {
    padding-left: 25px;
  }

  .blog-detail-row {
    grid-template-columns: 1fr;
  }

}


@media(max-width:767px) {
  body {
    font-size: 14px;
  }
.cta-proposal-wrap { 
    flex-wrap: wrap;
}


  .footer-box i {
    font-size: 20px;
  }

  .footer-box .social {
    gap: 10px;
  }

  .footer-box.right h3 {
    margin-bottom: 10px;
  }

  .menu {
    width: 40px;
    height: 40px;
  }

  ul.social li a {
    font-size: 1em;
  }

  .menu span {
    height: 2px;
  }

  section.section-about.aboutpage .teemcontent {
    padding-left: 0;
    padding-top: 20px;
  }

  .mainprojeectbanner {
    flex-wrap: wrap;
  }

  .rightproject {
    width: 100%;
    order: 1;
  }

  h2 {
    font-size: 2em;
  }

  .blog-hero h1 {
    font-size: 28px;
  }

  .leftcontern {
    order: 2;
    width: 100%;
    padding: 40px 0px;
  }

  .herobanner1-section-area .header-images-area .main-images-area .img1 img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .herobanner1-section-area .header-images-area .main-images-area .img1 {
    text-align: center;
    width: 100%;
    left: 0;
  }
.skills-flex { 
    grid-template-columns: 1fr 1fr ;
    gap: 1.5rem;
}

.flex-servicethreesection { 
    grid-template-columns: 1fr;
    gap: 1.5rem;
}
.flexinghft.sticky-div {
    position: relative;
    top: 0;
    height: auto;
}

.gridings { 
    grid-template-columns: 1fr  ;
    gap: 1.5rem;
}
.gridhirdeloper 
 { 
    grid-template-columns: 1fr; 
    gap: 40px 0px;
}


.stack-row { 
    flex-wrap: wrap;
}


.stack-title { 
    min-width: 100%; 
}




  .robot-arm {
    top: 95px;
    width: 150px;
    border-radius: 50px 0px 50px 0px;
    right: 13px;
  }

  .project-page .featured-right {
    grid-template-columns: 1fr;
  }

  .clutch img {
    margin: 15px 0px;
  }

  section.featured-section.project-page {
    padding-bottom: 50px;
  }

  .exp-card {
    padding: 15px;
    min-height: 240px;
  }

  .slider.owl-carousel .owl-nav {
    margin-top: 20px;
    text-align: center;
  }

  .exp-card.small {
    padding: 15px 15px;
  }

  .helmet {
    right: -23px;
    bottom: -15px;
    width: 210px;
  }

  .exp-text p {
    margin-bottom: 30px;
  }

  .exp-text h3 {
    font-size: 4em;
  }

  .grid2 {
    grid-template-columns: 1fr;
  }

  .teemcontent .grid2 {
    grid-template-columns: 1fr 1fr;
  }


  .parallax-box {
    height: 270px;
    border-radius: 20px;
  }

  .content-row {
    grid-template-columns: 1fr;
  }

  .phones img {
    width: 190px;
    top: 35px;
  }

  .right-info h3 {
    font-size: 3em;
  }

  .parallax-img {
    position: relative;
    height: 130%;
  }

  .card {
    padding: 15px;
  }

  .stack-card.card-2 .card-imgg {
    order: 2;
  }

  .stack-card-row {
    gap: 40px;
  }

  .project-services {
    bottom: 18px;
    left: 15px;
  }

  .stack-card {
    position: relative;
    top: 0;
    grid-template-columns: 1fr;
    gap: 30px;
    height: auto;
    border-radius: 25px;
    padding: 20px;
  }

  .herobanner-text h1 {
    font-size: 2.5em;
    line-height: 1.6em;
    text-align: center;
  }

  .pill {
    width: 300px;
    top: 10px;
  }

  .bottom {
    flex-wrap: wrap;
    gap: 20px;
  }

  .who-left h5 {
    font-size: 2em;
  }

  .who-wrap {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .who-we-are {
    padding: 30px 0;
  }

  .bottom p {
    font-size: 1em;
  }

  .testimonial-section {
    padding: 0px 0px;
    padding-bottom: 50px;
  }

  .testimonial-wrap {
    gap: 0px;
  }

  .nav {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .bottom li {
    font-size: 1.2em;
  }

  .button-row a.button {
    display: none;
  }

  .herobanner {
    padding-top: 35px;
  }

  .divider {
    margin: 0px 0 40px;
  }

  .footer-box,
  .subscribe {
    padding: 24px;
  }

  .footer-box.mal-middle a {
    padding: 25px 24px;
  }

  ul.footer-menu {
    margin-bottom: 14px;
  }


  .pill {
    padding: 10px 0px;
  }

  .who-right h2 {
    font-size: 2em;
  }

  .footer-grid {
    grid-template-columns: 100%;
  }

  .footer-box.mal-middle {
    gap: 15px;
  }

  .footer-menu a {
    font-size: 2em;
  }

  .stack-card .card-content {
    width: 100%;
  }

  .card-imgg {
    height: auto;
  }

  .card-imgg img {
    position: relative;
    height: auto;
    border-radius: 20px;
  }

  .section-about img {
    border-radius: 0px 120px 0px 64px;
    box-shadow: 0px 5px 0px 0px #a00c2c;
  }

  form#contactForm,
  .tobader,
  .medader {
    display: none;
  }

  .menu-wrapper {
    grid-template-columns: 1fr;
  }


  .logo-marquee {
    padding: 40px 0;
  }

  .featured-section {
    padding: 0px 0;
  }

  .who-right h2 {
    font-size: 1.4em;
  }

  .card-content p {
    margin: 0px 0 40px;
  }

  .card-content h3 {
    font-size: 4em;
  }

  .star-img {
    width: 186px;
    left: 0px;
  }

  .button {
    font-size: 1.1em;
    min-width: 140px;
    padding: 14px 22px;
  }

  .testimonial-wrap {
    flex-wrap: wrap;
  }

  .testimonial-left {
    width: 100%;
  }

  .testimonial-right {
    width: 100%;
  }

  .slider {
    gap: 15px;
  }

  .copy {
    position: static;
    font-size: 14px;
  }


  .footer-box.mal-middle a {
    gap: 15px;
    font-size: 1.2em;
  }

  .social li {
    font-size: 1.2em;
  }


  .bg-right img {
    z-index: -1;
  }

  .bg-imgs img {
    z-index: -1;
  }

  section.services-section {
    padding: 40px 0px;
  }

  .development-technologie-all-logo {
    background-color: transparent;
    border: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    backdrop-filter: none;
  }

  .development-technologie-logo {
    width: 22%;
    background-color: #fff;
    padding: 8px;
  }










}

@media(max-width:500px) {
  .gridmembers.gaping {
    grid-template-columns: 1fr;
  }

  .minebloges {
    grid-template-columns: 1fr;
  }
    .maincardgrid {
        grid-template-columns: 1fr; 
    }
.skills-box { 
    margin-bottom: 0;
}
.centerbuttons {
    margin-top: 20px;
}
.industries-grid { 
        grid-template-columns: 1fr;
    }
  .blog-hero {
    padding: 90px 0;
    padding-bottom: 0;
  }

  .heading1 h1 {
    font-size: 2em;
  }

  .herobanner {
    padding-top: 35px;
    height: auto;
  }
.skills-flex {
        grid-template-columns: 1fr;
    }
  .teemcontent .grid2 {
    grid-template-columns: 1fr
  }

  .grid2.aboutbox div {
    width: 100%;
  }

  .grid2.aboutbox {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: 500;
  }

  .project-services {
    left: 15px;
  }

  .grid2.onecol .iconcol {
    flex-wrap: wrap;
  }

  .owl-dots {
    display: none;
  }

  .counter-box22 .counter-number,
  .counter-box22 .counter-text {
    font-size: 40px;
  }

  .ser-card22 .profection {
    font-size: 20px;
    line-height: 28px;
  }

  section.service-sec22 {
    padding-bottom: 50px;
  }

  .staff-text {
    position: absolute;
    right: 65px;
    top: -5px;
    font-size: 35px;
  }

  .shape3::before {
    width: 96px;
    height: 96px;
  }

  .ser-card22>img {
    height: 422px;
  }

  .ser-content22 {
    padding: 20px 20px 20px;
  }

  .service-content {
    padding: 30px 15px;
  }

  .maincontent h1 {
    font-size: 2em;
  }

  .number-address-area {
    gap: 10px;
    flex-wrap: wrap;
  }

  .phone-number {
    margin: 0 0px 0px 0px;
  }

  .maintitle h1 {
    font-size: 3em;
  }

  .portal {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .portal .clutch {
    width: 50%;
    justify-content: center;
  }

  .frelans {
    padding-right: 0;
    width: 50%;
    justify-content: center;
  }

  .main-client-collaboration {
    flex-wrap: wrap;
  }

  .left-collaboration-content {
    padding-right: 0;
    width: 100%;
  }

  .right-collaboration-content {
    padding-left: 0;
    width: 100%;
    padding-top: 20px;
  }

  .play-btn {
    width: 50px;
    height: 50px;
  }



}