* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 1em;
}
body {
  background: #faf7f4;
  color: #111;
}

 .menu-list-ul {
    background-color: #000000;
    width: 100%;
    position: fixed;
    right: -100%;
    top: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    z-index: 9999;
}

.header.active .menu-list-ul { 
      right: 0%;
}






.menu-list-ul a { 
    color: #ffffff; 
    font-size: 40px;
}






















.hero {
  min-height: 100vh;
  padding: 15px 0;
}

.header {
    padding: 25px 0;
    transition: 1s;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 140px;
}
.header .nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-right {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
  justify-content: end;
}

 
.hero-text {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.hero-text h1 {
  font-size: 100px;
  font-weight: 600;
  line-height: 1.05;
}

 

.pill {
    background: #9b8df2;
    padding: 30px 0px;
    border-radius: 68px;
    width: 400px;
    overflow: hidden;
    display: inline-block;
}

.pill-track {
  display: flex;
  width: max-content;
  animation: scroll 13s linear infinite;
}


.pill-track span {
  color: #fff;
  font-size: 61px;
  font-weight: 600;
  padding: 0 20px;
  white-space: nowrap;
}

/* animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


.spark {
  font-size: 48px;
}
.divider {
    margin: 90px 0 40px;
    border-top: 4px dashed #ccc;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bottom p {
  max-width: 420px;
  font-size: 16px;
  color: #333;
}

.bottom ul {
  list-style: none;
}

.bottom li {
  margin-bottom: 12px;
  font-size: 16px;
}

.menu {
    background-color: #000000;
    border-radius: 90px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;
    position: relative;
    z-index: 99999;
    transition: 0.5s;
}

.menu span {
    background-color: #ffffff;
    height: 3px;
    width: 30px;
}


.header.active .menu {
    background-color: #ffffff;
}
.header.active .menu span {
    background-color: #000000; 
}








.hello-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 11px 45px;
  border: 2px solid #111;
  border-radius: 50px;
  text-decoration: none;
  color: #111;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.hello-btn .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease;
}


.hello-btn:hover {
  background: #111;
  color: #fff;
}

.hello-btn:hover .icon {
  transform: translate(4px, -4px);
}

.who-we-are{
  padding:120px 0;
  background:#faf7f4;
}



.who-wrap{
  display:grid;
  grid-template-columns:1fr 2fr;
  gap:120px;
  align-items:start;
}

/* LEFT */
.tag {
    font-size: 25px;
    color: #111;
    font-weight: 500;
}

/* RIGHT */
.who-right h2{
  font-size:48px;
  line-height:1.2;
  font-weight:500;
  margin-bottom:40px;
}

/* BUTTON (same as hero) */
.hello-btn{
  display:inline-flex;
  align-items:center;
  gap:10px;
  padding:14px 26px;
  border:2px solid #111;
  border-radius:40px;
  text-decoration:none;
  color:#111;
  font-size:16px;
  font-weight:500;
  transition:.3s ease;
}

.hello-btn .icon{
  transition:.3s ease;
}

.hello-btn:hover{
  background:#111;
  color:#fff;
}

.hello-btn:hover .icon{
  transform:translate(4px,-4px);
}




.stats-grid {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
}





.exp-grid {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
}

/* CARDS */
.exp-card {
    background: #fff;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    padding: 60px;
    min-height: 466px;
}

.exp-card.big {
    display: flex;
    align-items: center;
    width: 100%;
}

.exp-card.small {
    padding: 60px 50px;
    width: 70%;
}

/* TEXT */
.exp-text h3 {
    font-size: 100px;
    font-weight: 500;
    margin-bottom: 20px;
}

.exp-text p{
  font-size:18px;
  line-height:1.5;
  margin-bottom:40px;
  color:#333;
}

/* IMAGES */
.robot-arm {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 450px;
}

.helmet{
  position:absolute;
  right:-40px;
  bottom:-20px;
  width:280px;
}

/* BUTTON (same as previous) */
.hello-btn{
  display:inline-flex;
  align-items:center;
  gap:10px;
  padding:14px 26px;
  border:2px solid #111;
  border-radius:40px;
  text-decoration:none;
  color:#111;
  font-size:16px;
  font-weight:500;
  transition:.3s ease;
}

.hello-btn .icon{
  transition:.3s ease;
}

.hello-btn:hover{
  background:#111;
  color:#fff;
}

.hello-btn:hover .icon{
  transform:translate(4px,-4px);
}




/* CARDS */
.card{
  border-radius:28px;
  position:relative;
  overflow:hidden;
  padding:40px;
}

/* LEFT */
.card.purple {
    background: #a895f4;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 400px;
}

.star-img {
    width: 288px;
    position: absolute;
    left: -40px;
    top: 0px;
}

.card-content h3 {
    font-size: 100px;
    font-weight: 500;
}

.card-content p {
    margin: 0px 0 65px;
    font-size: 18px;
}



/* RIGHT */
.card.white {
    background: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.phones img {
    width: 390px;
    padding: 0;
    position: absolute;
    left: 0;
    top: 15px;
}

.right-info{
  text-align:right;
}

.right-info h3 {
    font-size: 100px;
    margin-top: 60px;
    font-weight: 500;
}

.right-info p {
    font-size: 18px;
}

.avatars{
  display:flex;
  justify-content:flex-end;
  gap:-10px;
}

.avatars img{
  width:36px;
  height:36px;
  border-radius:50%;
}

.spark{
  font-size:22px;
}





























/*============================ RESPONSIVE =====================*/
@media(max-width:992px) {
  .container {
    padding: 0 24px;
  }

  .hero-text h1 {
    font-size: 48px;
  }

  .bottom {
    flex-direction: column;
    gap: 30px;
  }
}